{% extends 'frontend/index.html' %}

{% block content %}
<style type="text/css">
  .table th {
    border-bottom: 2px solid rgb(76, 76, 250)!important;
  }
  .error-route {
    margin: 100px 0 10px;
    font-size: 20px;
  }
  .missing {
    color: #ff0039;
    display: none;
  }
  a.first, a.last {
    cursor: pointer;
    text-decoration: none;
  }
</style>

<div class="bs-docs-section">

  <ul class="nav nav-pills">
    <li><a href="#users">Users</a></li>
    <li><a href="#contacts">Contacts</a></li>
    <li><a href="#locations">Locations</a></li>
    <li><a href="#distributions">Distributions</a></li>
    <li><a href="#distributors">Distributors</a></li>
    <li><a href="#drop-off-centers">Drop-off Centers</a></li>
    <li><a href="#resources">Resources</a></li>
    <li><a href="#subscribers">Subscribers</a></li>
    <li><a href="#logs">Logs</a></li>
    <li><a href="#posts">Posts</a></li>
  </ul>

  <div id="app"></div>

  <script type="text/template" id="mainTemplate">
  <div class="row" style="margin-top: -50px;">
    <div class="col-lg-12">
      <div class="bs-example table-responsive page-header" style="margin: 70px 0 21px!important; border-bottom: none!important">

        <hr/>

        <div style="display:none" class="alert alert-dismissable alert-success success-message">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Well done!</strong> <span id="title"></span>
        </div>
        <div style="display:none" class="alert alert-dismissable alert-danger error-message">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Oh snap!</strong> <span id="title"></span>
        </div>

        <h4>Users <button type="button" class="btn btn-success"><a style="color: white;" href="#user/new">New</a></button></h4>
        <table id="usersGrid" class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Contacts</th>
              <th>Permissions</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <%  
              if ($.isEmptyObject(users)) { 
            %>
                <tr><td colspan='5'>No Record Found</td></tr>
            <% } else { 
                $.each(users, function () { 
            %>
                <tr class="active" data-name="<%- _.unescape(this.name) %>" data-id="<%- this.id %>">
                    <td><%- _.unescape(this.name) %></td>
                    <td><%- _.unescape(this.email) %></td>
                    <td><%- _.unescape(this.contacts) %></td>
                    <td><%- _.unescape(this.permissions) %></td>
                    <td align='center'><a class="first">Edit</a> | <a class="last">Delete</a></td>
                </tr>
            <%    
                })
              }
            %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  </script>

  <script type="text/template" id="addUserTemplate">
    <form class="bs-example form-horizontal" id="frmAddUser">
      <div class="row" style="margin-top: -50px;">
        <div class="col-lg-12">
          <div class="page-header" style="border-bottom: none!important">
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><strong>New User</strong></h3>
            </div>
            <div class="panel-body">
              <p>
                <input type="text" id="fname" required="required" class="form-control" placeholder="Full Name">
              </p>
              <p>
                <input type="email" id="email" required="required" class="form-control" placeholder="Email">
              </p>
              <p>
                <input type="password" id="password" required="required" class="form-control" placeholder="Password">
              </p>
              <p>
                <input type="text" id="contacts" required="required" class="form-control" placeholder="Contacts">
              </p>
              <p>
                <select id="permissions" name="permissions">
                  <option value="coordinator">Coordinator</option>
                  <option value="developer">Developer</option>
                  <option value="symph">Symph</option>
                </select>
              </p>
              <p>
                <button type="submit" class="btn btn-primary">Submit</button> 
                <a href="#users" class="btn btn-default">Cancel</a> 
                <div style="display:none" class="alert alert-dismissable alert-success success-message">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>Well done!</strong> New user has been added.
                </div>
                <div style="display:none" class="alert alert-dismissable alert-danger error-message">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>Oh snap!</strong> Unable to add new user. Try again.
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
    </form>
  </script>

  <script type="text/template" id="editUserTemplate">
    <form class="bs-example form-horizontal" id="frmEditUser">
      <div class="row" style="margin-top: -50px;">
        <div class="col-lg-12">
          <div class="page-header" style="border-bottom: none!important">
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><strong>Edit User</strong></h3>
            </div>
            <div class="panel-body">
              <% 
                if (!$.isEmptyObject(user)) { 
                  $.each(user, function() {
              %>
                  <input type="hidden" id="id" value="<%- this.id %>">
                  <p>
                    <input type="text" id="fname" class="form-control" required="required" placeholder="Full Name" value="<%- _.unescape(this.name) %>">
                  </p>
                  <p>
                    <input type="email" id="email" disabled="disabled" class="form-control" required="required" placeholder="Email" value="<%- _.unescape(this.email) %>">
                  </p>

                  <p>
                    <input type="text" id="contacts" class="form-control" required="required" placeholder="Contacts" value="<%- _.unescape(this.contacts) %>">
                  </p>

                  <p>
                    <select id="permissions" name="permissions">
                      <option value="coordinator" <% if (this.permissions == "coordinator") { %> selected <% } %> >Coordinator</option>
                      <option value="developer" <% if (this.permissions == "developer") { %> selected <% } %> >Developer</option>
                      <option value="symph" <% if (this.permissions == "symph") { %> selected <% } %> >Symph</option>
                    </select>
                  </p>
                  <p>
                    <button type="submit" class="btn btn-primary">Submit</button> 
                    <a href="#users" class="btn btn-default">Cancel</a>
                    <div style="display:none" class="alert alert-dismissable alert-success success-message">
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                      <strong>Well done!</strong> Successfully updated.
                    </div>
                    <div style="display:none" class="alert alert-dismissable alert-danger error-message">
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                      <strong>Oh snap!</strong> Unable to update. Try again.
                    </div>
                  </p>
              <%    
                  })
                }
              %>
            </div>
          </div>
        </div>
      </div>
    </form>
  </script>





  <script type="text/template" id="contactTemplate">
  <div class="row" style="margin-top: -50px;">
    <div class="col-lg-12">
      <div class="bs-example table-responsive page-header" style="margin: 70px 0 21px!important; border-bottom: none!important">

        <hr/>

        <div style="display:none" class="alert alert-dismissable alert-success success-message">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Well done!</strong> <span id="title"></span>
        </div>
        <div style="display:none" class="alert alert-dismissable alert-danger error-message">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Oh snap!</strong> <span id="title"></span>
        </div>

        <h4>Contacts <button type="button" class="btn btn-success"><a style="color: white;" href="#contact/new">New</a></button></h4>
        <table id="contactsGrid" class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Contacts</th>
              <th>Email</th>
              <th>Facebook</th>
              <th>Twitter</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <%  
              if ($.isEmptyObject(contacts)) { 
            %>
                <tr><td colspan='6'>No Record Found</td></tr>
            <% } else { 
                $.each(contacts, function () { 
            %>
                <tr class="active" data-name="<%- _.unescape(this.name) %>" data-id="<%- this.id %>">
                    <td><%- _.unescape(this.name) %></td>
                    <td><%- _.unescape(this.contacts) %></td>
                    <td><%- _.unescape(this.email) %></td>
                    <td><%- _.unescape(this.facebook) %></td>
                    <td><%- _.unescape(this.twitter) %></td>
                    <td align='center'><a class="first">Edit</a> | <a class="last">Delete</a></td>
                </tr>
            <%    
                })
              }
            %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  </script>

  <script type="text/template" id="addContactTemplate">
    <form class="bs-example form-horizontal" id="frmAddContact">
      <div class="row" style="margin-top: -50px;">
        <div class="col-lg-12">
          <div class="page-header" style="border-bottom: none!important">
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><strong>New Contact</strong></h3>
            </div>
            <div class="panel-body">
              <p>
                <input type="text" id="fname" required="required" class="form-control" placeholder="Full Name">
              </p>
              <p>
                <input type="text" id="contacts" required="required" class="form-control" placeholder="Contacts (separated by commas)">
              </p>
              <p>
                <input type="email" id="email" required="required" class="form-control" placeholder="Email">
              </p>
              <p>
                <input type="text" id="facebook" required="required" class="form-control" placeholder="Enter Facebook URL">
              </p>
              <p>
                <input type="text" id="twitter" required="required" class="form-control" placeholder="Enter Twitter URL">
              </p>
              <p>
                <button type="submit" class="btn btn-primary">Submit</button> 
                <a href="#contacts" class="btn btn-default">Cancel</a> 
                <div style="display:none" class="alert alert-dismissable alert-success success-message">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>Well done!</strong> New contact has been added.
                </div>
                <div style="display:none" class="alert alert-dismissable alert-danger error-message">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>Oh snap!</strong> Unable to add new contact. Try again.
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
    </form>
  </script>

  <script type="text/template" id="editContactTemplate">
    <form class="bs-example form-horizontal" id="frmEditContact">
      <div class="row" style="margin-top: -50px;">
        <div class="col-lg-12">
          <div class="page-header" style="border-bottom: none!important">
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><strong>Edit Contact</strong></h3>
            </div>
            <div class="panel-body">
              <% 
                if (!$.isEmptyObject(contact)) { 
                  $.each(contact, function() {
              %>
                  <input type="hidden" id="id" value="<%- this.id %>">
                  <p>
                    <input type="text" id="fname" class="form-control" required="required" placeholder="Full Name" value="<%- _.unescape(this.name) %>">
                  </p>
                  <p>
                    <input type="text" id="contacts" required="required" class="form-control" placeholder="Contacts (separated by commas)" value="<%- _.unescape(this.contacts) %>">
                  </p>
                  <p>
                    <input type="email" id="email" required="required" class="form-control" placeholder="Email" value="<%- _.unescape(this.email) %>">
                  </p>
                  <p>
                    <input type="text" id="facebook" required="required" class="form-control" placeholder="Enter Facebook URL" value="<%- _.unescape(this.facebook) %>">
                  </p>
                  <p>
                    <input type="text" id="twitter" required="required" class="form-control" placeholder="Enter Twitter URL" value="<%- _.unescape(this.twitter) %>">
                  </p>
                  <p>
                    <button type="submit" class="btn btn-primary">Submit</button> 
                    <a href="#contacts" class="btn btn-default">Cancel</a>
                    <div style="display:none" class="alert alert-dismissable alert-success success-message">
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                      <strong>Well done!</strong> Successfully updated.
                    </div>
                    <div style="display:none" class="alert alert-dismissable alert-danger error-message">
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                      <strong>Oh snap!</strong> Unable to update. Try again.
                    </div>
                  </p>
              <%    
                  })
                }
              %>
            </div>
          </div>
        </div>
      </div>
    </form>
  </script>



  <script type="text/template" id="locationTemplate">
  <div class="row" style="margin-top: -50px;">
    <div class="col-lg-12">
      <div class="bs-example table-responsive page-header" style="margin: 70px 0 21px!important; border-bottom: none!important">

        <hr/>

        <div style="display:none" class="alert alert-dismissable alert-success success-message">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Well done!</strong> <span id="title"></span>
        </div>
        <div style="display:none" class="alert alert-dismissable alert-danger error-message">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Oh snap!</strong> <span id="title"></span>
        </div>

        <h4>Locations <button type="button" class="btn btn-success"><a style="color: white;" href="#location/new">New</a></button></h4>
        <table id="contactsGrid" class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Latlong</th>
              <th>Featured Photo</th>
              <th>Death Count</th>
              <th>Affected Count</th>
              <th>Status Board</th>
              <th>Needs</th>
              <th>Centers</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <%  
              if ($.isEmptyObject(locations)) { 
            %>
                <tr><td colspan='10'>No Record Found</td></tr>
            <% } else { 
                $.each(locations, function () { 
            %>
                <tr class="active" data-name="<%- _.unescape(this.name) %>" data-id="<%- this.id %>">
                    <td><%- _.unescape(this.name) %></td>
                    <td><%- _.unescape(this.latlong) %></td>
                    <td><%- _.unescape(this.featured_photo) %></td>
                    <td><%- _.unescape(this.death_count) %></td>
                    <td><%- _.unescape(this.affected_count) %></td>
                    <td><%- _.unescape(this.status_board) %></td>
                    <td><%- _.unescape(this.needs) %></td>
                    <td><%- _.unescape(this.centers) %></td>
                    <td><%- _.unescape(this.status) %></td>
                    <td align='center'><a class="first">Edit</a> | <a class="last">Delete</a></td>
                </tr>
            <%    
                })
              }
            %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  </script>

  <script type="text/template" id="addLocationTemplate">
    <form enctype="multipart/form-data" class="bs-example form-horizontal" id="frmAddLocation">
      <div class="row" style="margin-top: -50px;">
        <div class="col-lg-12">
          <div class="page-header" style="border-bottom: none!important">
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><strong>New Location</strong></h3>
            </div>
            <div class="panel-body">
              <p>
                <input type="text" id="fname" required="required" class="form-control" placeholder="Full Name">
              </p>
              <p>
                <input type="text" id="latlong" required="required" class="form-control" placeholder="Lat Long">
              </p>
              <p>
                <input type="text" id="featured_photo" required="required" class="form-control" placeholder="Featured Photo">
              </p>
              <p>
                <input type="text" id="death_count" required="required" class="form-control" placeholder="Death Count">
              </p>
              <p>
                <input type="text" id="affected_count" required="required" class="form-control" placeholder="Affected Count">
              </p>
              <p>
                <input type="text" id="status_board" required="required" class="form-control" placeholder="Status Board">
              </p>
              <p>
                <input type="text" id="needs" required="required" class="form-control" placeholder="Needs">
              </p>
              <p>
                <input type="text" id="centers" required="required" class="form-control" placeholder="Centers">
              </p>
              <p>
                <input type="text" id="status" required="required" class="form-control" placeholder="Status">
              </p>
              <p>
                <button type="submit" class="btn btn-primary">Submit</button> 
                <a href="#locations" class="btn btn-default">Cancel</a> 
                <div style="display:none" class="alert alert-dismissable alert-success success-message">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>Well done!</strong> New contact has been added.
                </div>
                <div style="display:none" class="alert alert-dismissable alert-danger error-message">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>Oh snap!</strong> Unable to add new contact. Try again.
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
    </form>
  </script>




  <script type="text/template" id="distributionsTemplate">
  <div class="row" style="margin-top: -50px;">
    <div class="col-lg-12">
      <div class="bs-example table-responsive page-header" style="margin: 70px 0 21px!important; border-bottom: none!important">

        <hr/>

        <div style="display:none" class="alert alert-dismissable alert-success success-message">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Well done!</strong> <span id="title"></span>
        </div>
        <div style="display:none" class="alert alert-dismissable alert-danger error-message">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Oh snap!</strong> <span id="title"></span>
        </div>

        <h4>Distributions <button type="button" class="btn btn-success"><a style="color: white;" href="#distribution/new">New</a></button></h4>
        <table id="contactsGrid" class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>date_of_distribution</th>
              <th>contact</th>
              <th>destinations</th>
              <th>supply_goal</th>
              <th>actual_supply</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  </script>

  <script type="text/template" id="addDistributionsTemplate">
    <form enctype="multipart/form-data" class="bs-example form-horizontal" id="frmAddDistribution">
      <div class="row" style="margin-top: -50px;">
        <div class="col-lg-12">
          <div class="page-header" style="border-bottom: none!important">
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><strong>New Distribution</strong></h3>
            </div>
            <div class="panel-body">
              <p>
                <input type="text" id="fname" required="required" class="form-control" placeholder="Full Name">
              </p>
              <p>
                <input type="date" id="date_of_distribution" required="required" class="form-control" placeholder="Date of Distribution">
              </p>
              <p>
                <input type="text" id="contact" required="required" class="form-control" placeholder="Contact">
              </p>
              <p>
                <input type="text" id="destinations" required="required" class="form-control" placeholder="Destinations">
              </p>
              <p>
                Supply Goal
                <select id="supply_goal" required="required" class="form-control">
                  <option value="food">food</option>
                  <option value="water">water</option>
                  <option value="medicines">medicines</option>
                  <option value="social_workers">social_workers</option>
                  <option value="medical_workers">medical_workers</option>
                  <option value="shelter">shelter</option>
                  <option value="formula">formula</option>
                  <option value="toiletries">toiletries</option>
                  <option value="flashlights">flashlights</option>
                </select>
              </p>
              <p>
                Actual Supply
                <select id="actual_supply" required="required" class="form-control">
                  <option value="food">food</option>
                  <option value="water">water</option>
                  <option value="medicines">medicines</option>
                  <option value="social_workers">social_workers</option>
                  <option value="medical_workers">medical_workers</option>
                  <option value="shelter">shelter</option>
                  <option value="formula">formula</option>
                  <option value="toiletries">toiletries</option>
                  <option value="flashlights">flashlights</option>
                </select>
              </p>
              <p>
                <button type="submit" class="btn btn-primary">Submit</button> 
                <a href="#distributions" class="btn btn-default">Cancel</a> 
                <div style="display:none" class="alert alert-dismissable alert-success success-message">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>Well done!</strong> New contact has been added.
                </div>
                <div style="display:none" class="alert alert-dismissable alert-danger error-message">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>Oh snap!</strong> Unable to add new contact. Try again.
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
    </form>
  </script>



  <script type="text/template" id="distributorsTemplate">
  <div class="row" style="margin-top: -50px;">
    <div class="col-lg-12">
      <div class="bs-example table-responsive page-header" style="margin: 70px 0 21px!important; border-bottom: none!important">

        <hr/>

        <div style="display:none" class="alert alert-dismissable alert-success success-message">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Well done!</strong> <span id="title"></span>
        </div>
        <div style="display:none" class="alert alert-dismissable alert-danger error-message">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Oh snap!</strong> <span id="title"></span>
        </div>

        <h4>Distributions <button type="button" class="btn btn-success"><a style="color: white;" href="#distributor/new">New</a></button></h4>
        <table id="contactsGrid" class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>location</th>
              <th>phone</th>
              <th>email</th>
              <th>website</th>
              <th>contacts</th>
              <th>destinations</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  </script>

  <script type="text/template" id="addDistributorTemplate">
    <form enctype="multipart/form-data" class="bs-example form-horizontal" id="frmAddDistributor">
      <div class="row" style="margin-top: -50px;">
        <div class="col-lg-12">
          <div class="page-header" style="border-bottom: none!important">
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><strong>New Distribution</strong></h3>
            </div>
            <div class="panel-body">
              <p>
                <input type="text" id="fname" required="required" class="form-control" placeholder="Full Name">
              </p>
              <p>
                <input type="text" id="location" required="required" class="form-control" placeholder="location">
              </p>
              <p>
                <input type="text" id="phone" required="required" class="form-control" placeholder="phone">
              </p>
              <p>
                <input type="email" id="email" required="required" class="form-control" placeholder="email">
              </p>
              <p>
                <input type="text" id="website" required="required" class="form-control" placeholder="website">
              </p>
              <p>
                <input type="text" id="contacts" required="required" class="form-control" placeholder="contacts">
              </p>
              <p>
                <input type="text" id="destinations" required="required" class="form-control" placeholder="destinations">
              </p>
              <p>
                <button type="submit" class="btn btn-primary">Submit</button> 
                <a href="#distributors" class="btn btn-default">Cancel</a> 
                <div style="display:none" class="alert alert-dismissable alert-success success-message">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>Well done!</strong> New contact has been added.
                </div>
                <div style="display:none" class="alert alert-dismissable alert-danger error-message">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>Oh snap!</strong> Unable to add new contact. Try again.
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
    </form>
  </script>


   <script type="text/template" id="drop-off-centersTemplate">
  <div class="row" style="margin-top: -50px;">
    <div class="col-lg-12">
      <div class="bs-example table-responsive page-header" style="margin: 70px 0 21px!important; border-bottom: none!important">

        <hr/>

        <div style="display:none" class="alert alert-dismissable alert-success success-message">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Well done!</strong> <span id="title"></span>
        </div>
        <div style="display:none" class="alert alert-dismissable alert-danger error-message">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Oh snap!</strong> <span id="title"></span>
        </div>

        <h4>Drop-off Centers <button type="button" class="btn btn-success"><a style="color: white;" href="#drop-off-center/new">New</a></button></h4>
        <table id="contactsGrid" class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>latlong</th>
              <th>destinations</th>
              <th>schedule</th>
              <th>twitter</th>
              <th>facebook</th>
              <th>phone</th>
              <th>email</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  </script>

  <script type="text/template" id="addDrop-off-centersTemplate">
    <form enctype="multipart/form-data" class="bs-example form-horizontal" id="frmAddDropOffCenter">
      <div class="row" style="margin-top: -50px;">
        <div class="col-lg-12">
          <div class="page-header" style="border-bottom: none!important">
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><strong>New Drop-off Center</strong></h3>
            </div>
            <div class="panel-body">
              <p>
                <input type="text" id="fname" required="required" class="form-control" placeholder="Full Name">
              </p>
              <p>
                <input type="text" id="latlong" required="required" class="form-control" placeholder="latlong">
              </p>
              <p>
                <input type="text" id="destinations" required="required" class="form-control" placeholder="destinations">
              </p>
              <p>
                <input type="text" id="schedule" required="required" class="form-control" placeholder="schedule">
              </p>
              <p>
                <input type="text" id="twitter" required="required" class="form-control" placeholder="twitter">
              </p>
              <p>
                <input type="text" id="facebook" required="required" class="form-control" placeholder="facebook">
              </p>
              <p>
                <input type="text" id="phone" required="required" class="form-control" placeholder="phone">
              </p>
              <p>
                <input type="text" id="email" required="required" class="form-control" placeholder="email">
              </p>
              <p>
                <button type="submit" class="btn btn-primary">Submit</button> 
                <a href="#drop-off-centers" class="btn btn-default">Cancel</a> 
                <div style="display:none" class="alert alert-dismissable alert-success success-message">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>Well done!</strong> New contact has been added.
                </div>
                <div style="display:none" class="alert alert-dismissable alert-danger error-message">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>Oh snap!</strong> Unable to add new contact. Try again.
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
    </form>
  </script>

</div>
{% endblock %}