{% extends 'frontend/index.html' %}

{% block content %}
<style type="text/css">
  .table th {
    border-bottom: 2px solid rgb(76, 76, 250)!important;
  }
  .error-route {
    margin: 100px 0 10px;
    font-size: 20px;
  }
  .missing {
    color: #ff0039;
    display: none;
  }
  a.first, a.last {
    cursor: pointer;
    text-decoration: none;
  }
</style>

<div class="bs-docs-section">

  <ul class="nav nav-pills">
    <li class="nav-users"><a href="#users">Users</a></li>
    <li class="nav-contacts"><a href="#contacts">Contacts</a></li>
    <li class="nav-locations"><a href="#locations">Locations</a></li>
    <li class="nav-distributions"><a href="#distributions">Distributions</a></li>
    <li class="nav-distributors"><a href="#distributors">Distributors</a></li>
    <li class="nav-drop-off-centers"><a href="#drop-off-centers">Drop-off Centers</a></li>
    <li class="nav-resources"><a href="#resources">Resources</a></li>
    <li class="nav-subscribers"><a href="#subscribers">Subscribers</a></li>
    <li class="nav-posts"><a href="#posts">Posts</a></li>
    <li class="nav-posts"><a href="/upload">Upload</a></li>
  </ul>


  <div style="display:none; margin-top:10px;" class="alert alert-dismissable alert-info loading-message">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Loading... Please wait...
  </div>

  <div style="display:none; margin-top:10px;" class="alert alert-dismissable alert-danger failed-message">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Oh snap!</strong> Failed to display informations. Try refreshing your page...
  </div>

  <div id="app"></div>

  {% include "frontend/template-users.html" %}
  {% include "frontend/template-contacts.html" %}
  {% include "frontend/template-locations.html" %}
  {% include "frontend/template-distributions.html" %}
  {% include "frontend/template-distributors.html" %}
  {% include "frontend/template-drop-off-centers.html" %}
  {% include "frontend/template-resources.html" %}
  {% include "frontend/template-posts.html" %}
</div>
{% endblock %}