{% extends 'frontend/public-index.html' %}

{% block ogdetails %}<meta property="og:image" content="http://www.bangonph.com/img/bangon-ph-black.png?v={{ version }}"/>{% endblock %}

{% block content %}
    <link rel="stylesheet" href="/css/datepicker.css">
    <div class="jumbotron">
      <div class="container">
        <h1>Let's Coordinate our Relief Efforts</h1>
        <p>We Need Your Help! Help the super typhoon Yolanda affected areas! Share information on your latest or planned relief drop here and let's get aid where it is needed the most!</p>
        
        <div class="ngo-list">
          <h6>Organizations Taking Action</h6>
          <a href="#"><img src="/img/ngo/red-cross.png" title="Philipine Red Cross" alt="Philipine Red Cross"></a>
          <a href="#"><img src="/img/ngo/caritas-manila.png" title="Caritas Manila" alt="Caritas Manila"></a>
          <a href="#"><img src="/img/ngo/dls-santiago.png" title="De La Salle Santiago Zobel" alt="De La Salle Santiago Zobel"></a>
          <a href="#"><img src="/img/ngo/heart-anonymous.png" title="HeartAnonymous" alt="HeartAnonymous"></a>
          <a href="#"><img src="/img/ngo/mit-etysbm.png" title="ETYSBM Student Council of Mapua Institute of Technology"alt="ETYSBM Student Council of Mapua Institute of Technology"></a>
          <a href="#"><img src="/img/ngo/operation-blessing.png" title="Operation Blessing" alt="Operation Blessing"></a>
          <a href="#"><img src="/img/ngo/rafi.png" title="Ramon Aboitiz Foundation, Inc" alt="Ramon Aboitiz Foundation, Inc"></a>
          <a href="#"><img src="/img/ngo/simbahang-bayan.png" title="Simbahang Lingkod ng Bayan" alt="Simbahang Lingkod ng Bayan"></a>
          <a href="#"><img src="/img/ngo/ssc-usjr.png" title="University of San Jose Recoletos Supreme Student Council" alt="University of San Jose Recoletos Supreme Student Council"></a>
          <a href="#"><img src="/img/ngo/the-dream-proj.png" title="The Dream Project Philippines" alt="The Dream Project Philippines"></a>
          <a href="#"><img src="/img/ngo/tindog-tacloban.png" title="Tindog Tacloban" alt="Tindog Tacloban"></a>
          <a href="#"><img src="/img/ngo/u-happy-events.png" title="U! Happy Events" alt="U! Happy Events"></a>
          <a href="#"><img src="/img/ngo/air21.png" title="Air21" alt="Air21"></a>
          <a href="#"><img src="/img/ngo/up-usc.png" title="UP Diliman University Student Council" alt="UP Diliman University Student Council"></a>
          <a href="#"><img src="/img/ngo/victory-fort.png" title="Victory Fort Bonifacio" alt="Victory Fort Bonifacio"></a>
          <a href="#"><img src="/img/ngo/cebu-daily-news.png" title="Cebu Daily News" alt="Cebu Daily News"></a>
          <a href="#"><img src="/img/ngo/sunstar.png" title="Sunstar" alt="Sunstar"></a>
          <a href="#"><img src="/img/ngo/give-a-drop.png" title="Give A Drop of Love" alt="Give A Drop of Love"></a>
          <!-- <a href="#" id="see-more" title="Click to See More">See More</a> -->
        </div>
<!-- 
        <p><a class="btn btn-primary btn-md pull-right" href="https://docs.google.com/a/sym.ph/forms/d/1cGWQuAbuIVogA-uO9tZPlR5HMGGYQH3_Yp96BoBS3ng/viewform?edit_requested=true" target="_blank">Are we missing anyone? Tell us.</a></p> -->
        
        <div class="social-media pull-right">
          <div class="social-item">
            <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="BangonPH">Tweet</a>
          </div>
          <div class="social-item">
            <div class="fb-like" data-href="{{ current_base_url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="container" id="locations-container">

      
      <div class="row mb16">
        <div class="col-lg-6">
            <div class="btn-group ml16">
              <a id="show-all" class="active btn btn-default hand search_buttons">All</a>
              <a id="show-samar" class="btn btn-default hand search_buttons">Samar</a>
              <a id="show-leyte" class="btn btn-default hand search_buttons">Leyte</a>
              <a id="show-cebu" class="btn btn-default hand search_buttons">Cebu</a>
              <a id="show-iloilo" class="btn btn-default hand search_buttons">Iloilo</a>
              <a id="show-capiz" class="btn btn-default hand search_buttons">Capiz</a>
              <a id="show-aklan" class="btn btn-default hand search_buttons">Aklan</a>
              <a id="show-antique" class="btn btn-default hand search_buttons">Antique</a>
            </div>
        </div>
        <div class="col-lg-6">
          <div class="input-group mr16 ml16 special">
            <input type="text" class="form-control" id="search" placeholder="Search for the location here..."><span class="input-group-btn">
              <button class="btn btn-default" type="button">Search <span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <!-- <div class="clearfix"></div> -->
      </div>
      <div class="clearfix"></div>

        <div class="col-lg-4 col-md-6 col-sm-6 col updates-feed visible-lg visible-xs">
          <div class="status-item">
          <h4>Updates</h4>
          <ul id='updates_feed' class="updates-wrap updates_feed updates-wrap-lg">
            {% for revision in revisions %}
            {% if revision.status %}
            <li>
              <img src="http://graph.facebook.com/{{ revision.fb_id }}/picture?small">
              <label style="margin-bottom: 0;">
                <a target="_blank" href="http://www.facebook.com/profile.php?id={{ revision.fb_id }}">{% if revision.fb_firstname %}{{ revision.fb_firstname }} {% endif %}{% if revision.fb_middlename %}{{ revision.fb_middlename }}{% endif %} {% if revision.fb_lastname %}{{ revision.fb_lastname }}{% endif %}</a>
              </label>
              <a href="/locations/{{ revision.name }}">
                <span class="label label-default">{{ revision.name|prettify }}</span>
                <span class="label label-success">{{ revision.revision_type }}</span>
              </a><br/>
              <p>{% for stat in revision.status %}{{ stat }}; {% endfor %}</p>
              <span class="update-date">{{ revision.created|to_date }}</span>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col updates-feed visible-md">
          <div class="status-item">
          <h4>Updates</h4>
          <ul id='updates_feed' class="updates-wrap updates_feed updates-wrap-md">
            {% for revision in revisions %}
            {% if revision.status %}
            <li>
              <img src="http://graph.facebook.com/{{ revision.fb_id }}/picture?small">
              <label style="margin-bottom: 0;">
                <a target="_blank" href="http://www.facebook.com/profile.php?id={{ revision.fb_id }}">{% if revision.fb_firstname %}{{ revision.fb_firstname }} {% endif %}{% if revision.fb_middlename %}{{ revision.fb_middlename }}{% endif %} {% if revision.fb_lastname %}{{ revision.fb_lastname }}{% endif %}</a>
              </label>
              <a href="/locations/{{ revision.name }}">
                <span class="label label-default">{{ revision.name|prettify }}</span>
                <span class="label label-success">{{ revision.revision_type }}</span>
              </a><br/>
              <p>{% for stat in revision.status %}{{ stat }}; {% endfor %}</p>
              <span class="update-date">{{ revision.created|to_date }}</span>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col updates-feed visible-sm">
          <div class="status-item">
          <h4>Updates</h4>
          <ul id='updates_feed' class="updates-wrap updates_feed updates-wrap-sm">
            {% for revision in revisions %}
            {% if revision.status %}
            <li>
              <img src="http://graph.facebook.com/{{ revision.fb_id }}/picture?small">
              <label style="margin-bottom: 0;">
                <a target="_blank" href="http://www.facebook.com/profile.php?id={{ revision.fb_id }}">{% if revision.fb_firstname %}{{ revision.fb_firstname }} {% endif %}{% if revision.fb_middlename %}{{ revision.fb_middlename }}{% endif %} {% if revision.fb_lastname %}{{ revision.fb_lastname }}{% endif %}</a>
              </label>
              <a href="/locations/{{ revision.name }}">
                <span class="label label-default">{{ revision.name|prettify }}</span>
                <span class="label label-success">{{ revision.revision_type }}</span>
              </a><br/>
              <p>{% for stat in revision.status %}{{ stat }}; {% endfor %}</p>
              <span class="update-date">{{ revision.created|to_date }}</span>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          </div>
        </div>

        {% for location in featured_locations %}
        <div class="col-lg-4 col-md-6 col-sm-6 col location" id="location_{{ location.id }}">
            <div class="location-tags" style='display: none;'>{{ location.name }}</div>
            <div class="status-item">
              <!--<h3>{{ location.name }}</h3>-->
              <img class='location-front-feature-photo' src="{% if location.featured_photo %}{{ location.featured_photo }}{% else %}https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-prn2/v/1422846_750043521675941_1980969414_n.jpg?oh=c1f21b1b2a886bbcced761d546fd1ccf&oe=52886CD9&__gda__=1384696205_aea2d7e3807dc100137e84030d3d4c77{% endif %}" alt="{{ location.name }}" onclick="self.location='/locations/{{ location.id }}';" >
              <h6 class="mb0">{{ location.name }} Current Status:</h6>
              <div class="status-group">
                <div class="status-entry">
                  <img class="icon" src="/img/icon-deaths.png" alt="Deaths" title="Deaths">
                  <span title="{% if location.death_count_text %}{{ location.death_count_text }}{% else %}{% if location.death_count %}{{ location.death_count|with_commas }} Deaths{% else %}Gathering Data{% endif %}{% endif %}">{% if location.death_count_text %}{{ location.death_count_text }}{% else %}{% if location.death_count %}{{ location.death_count|with_commas }} Deaths{% else %}Gathering Data{% endif %}{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-family.png" alt="Families Affected" title="Families Affected">
                  <span title="{% if location.affected_count_text %}{{ location.affected_count_text }}{% else %}{% if location.affected_count %}{{ location.affected_count|with_commas }} Families Affected{% else %}Gathering Data{% endif %}{% endif %}">{% if location.affected_count_text %}{{ location.affected_count_text }}{% else %}{% if location.affected_count %}{{ location.affected_count|with_commas }} Families Affected{% else %}Gathering Data{% endif %}{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-pledged.png" alt="Missing People" title="Missing People">
                  <span title="{% if location.missing_count_text %}{{ location.missing_count_text }}{% else %}{% if location.missing_count %}{{ location.missing_count|with_commas }} Missing{% else %}Gathering Data{% endif %}{% endif %}">{% if location.missing_count_text %}{{ location.missing_count_text }}{% else %}{% if location.missing_count %}{{ location.missing_count|with_commas }} Missing{% else %}Gathering Data{% endif %}{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-communication.png" alt="Communication" title="Communication Status">
                  <span title="{{ location.status.communication }}">{% if location.status.communication %}{{ location.status.communication }}{% else %}Gathering Data{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-water.png" alt="Water" title="Water Status">
                  <span title="{{ location.status.water }}">{% if location.status.water %}{{ location.status.water }}{% else %}Gathering Data{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-electricity.png" alt="Power" title="Power Status">
                  <span title="{{ location.status.power }}">{% if location.status.power %}{{ location.status.power }}{% else %}Gathering Data{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-medicine.png" alt="Medicine" title="Medical Status">
                  <span title="{{ location.status.medicines }}">{% if location.status.medicines %}{{ location.status.medicines }}{% else %}Gathering Data{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-clothes.png" alt="Needs Clothes" title="Clothing Status">
                  <span title="{{ location.status.cloths }}">{% if location.status.cloths %}{{ location.status.cloths }}{% else %}Gathering Data{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-food.png" alt="Food" title="Food Supply Status">
                  <span title="{{ location.status.food }}">{% if location.status.food %}{{ location.status.food }}{% else %}Gathering Data{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-shelter.png" alt="Shelter" title="Shelter Status">
                  <span title="{{ location.status.shelter }}">{% if location.status.shelter %}{{ location.status.shelter }}{% else %}Gathering Data{% endif %}</span>
                </div>
              </div>
              <div class="clear"></div>
              <h6>Relief Aid Status for 1 Week:</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" {% if location.relief_aid_status == 'Unknown' %}aria-valuenow="1"{% else %}aria-valuenow="{{ location.relief_aid_status }}"{% endif %} aria-valuemin="0" aria-valuemax="100" {% if location.relief_aid_status == 'Unknown' %}style="width:1%"{% else %}style="width:{{ location.relief_aid_status }}%"{% endif %}>
                  {% if location.relief_aid_status == 'Unknown' %}<span class="sr-only">Unknown... <a href="https://docs.google.com/a/sym.ph/forms/d/1cGWQuAbuIVogA-uO9tZPlR5HMGGYQH3_Yp96BoBS3ng/viewform" target="_blank" title='Contribute Information'>Have Info?</a></span>{% else %}<span class="sr-only">{{ location.relief_aid_status }}%  &nbsp;&nbsp;&nbsp;Have Info?</a></span>{% endif %}
                </div>
              </div>
              <!--
              <div class="status-group">
                <div class="status-entry">
                  <img class="icon" src="/img/icon-pledged.png" alt="Relief Goods Pledged">
                  <span>0 Packs Pledged</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-delivered.png" alt="Relief Goods Delivered">
                  <span>0 Packs Delivered</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-distributed.png" alt="Relief Goods Distributed">
                  <span>0 Packs Distributed</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-needed.png" alt="Relief Goods Needed">
                  <span class="emphasize">0 Packs Needed</span>
                </div>
              </div>
              -->
              <div class="clear"></div><!-- 
              <h6>Active Relief Orgs:</h6>
                <div class="relief-orgs-group">
                  <img src="/img/thumb-dswd.png" title="DSWD">
                  <img src="/img/thumb-redcross.png" title="Philippine Red Cross">
                  <img src="/img/thumb-rafi.png" title="Ramon Aboitiz Foundation, Inc.">
                  <img src="/img/thumb-jci.png" title="Junior Chamber International">
                </div> -->
              <div>
                <a class="btn btn-primary btn-block entry-btn" href="/locations/{{ location.id }}" title="{{ location.name }}" role="button"><span class="glyphicon glyphicon-circle-arrow-right"></span> View Relief Efforts in {{ location.name }} &raquo;</a>
              </div>
            </div>
        </div>
        {% endfor %}
      


        {% for location in locations %}
        <div class="col-lg-4 col-md-6 col-sm-6 col location">
          <div class="location-tags" style='display: none;'>{{ location.name }}</div>
            <div class="status-item">
              <!--<h3>{{ location.name }}</h3>-->
              <img class='location-front-feature-photo' src="{% if location.featured_photo %}{{ location.featured_photo }}{% else %}https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-prn2/v/1422846_750043521675941_1980969414_n.jpg?oh=c1f21b1b2a886bbcced761d546fd1ccf&oe=52886CD9&__gda__=1384696205_aea2d7e3807dc100137e84030d3d4c77{% endif %}" alt="{{ location.name }}" onclick="self.location='/locations/{{ location.id }}';" >
              <h6 class="mb0">{{ location.name }} Current Status:</h6>
              <div class="status-group">
                <div class="status-entry">
                  <img class="icon" src="/img/icon-deaths.png" alt="Deaths" title="Deaths">
                  <span title="{% if location.death_count_text %}{{ location.death_count_text }}{% else %}{% if location.death_count %}{{ location.death_count|with_commas }} Deaths{% else %}Gathering Data{% endif %}{% endif %}">{% if location.death_count_text %}{{ location.death_count_text }}{% else %}{% if location.death_count %}{{ location.death_count|with_commas }} Deaths{% else %}Gathering Data{% endif %}{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-family.png" alt="Families Affected" title="Families Affected">
                  <span title="{% if location.affected_count_text %}{{ location.affected_count_text }}{% else %}{% if location.affected_count %}{{ location.affected_count|with_commas }} Families Affected{% else %}Gathering Data{% endif %}{% endif %}">{% if location.affected_count_text %}{{ location.affected_count_text }}{% else %}{% if location.affected_count %}{{ location.affected_count|with_commas }} Families Affected{% else %}Gathering Data{% endif %}{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-pledged.png" alt="Missing People" title="Missing People">
                  <span title="{% if location.missing_count_text %}{{ location.missing_count_text }}{% else %}{% if location.missing_count %}{{ location.missing_count|with_commas }} Missing{% else %}Gathering Data{% endif %}{% endif %}">{% if location.missing_count_text %}{{ location.missing_count_text }}{% else %}{% if location.missing_count %}{{ location.missing_count|with_commas }} Missing{% else %}Gathering Data{% endif %}{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-communication.png" alt="Communication" title="Communication Status">
                  <span title="{{ location.status.communication }}">{% if location.status.communication %}{{ location.status.communication }}{% else %}Gathering Data{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-water.png" alt="Water" title="Water Status">
                  <span title="{{ location.status.water }}">{% if location.status.water %}{{ location.status.water }}{% else %}Gathering Data{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-electricity.png" alt="Power" title="Power Status">
                  <span title="{{ location.status.power }}">{% if location.status.power %}{{ location.status.power }}{% else %}Gathering Data{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-medicine.png" alt="Medicine" title="Medical Status">
                  <span title="{{ location.status.medicines }}">{% if location.status.medicines %}{{ location.status.medicines }}{% else %}Gathering Data{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-clothes.png" alt="Needs Clothes" title="Clothing Status">
                  <span title="{{ location.status.cloths }}">{% if location.status.cloths %}{{ location.status.cloths }}{% else %}Gathering Data{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-food.png" alt="Food" title="Food Supply Status">
                  <span title="{{ location.status.food }}">{% if location.status.food %}{{ location.status.food }}{% else %}Gathering Data{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-shelter.png" alt="Shelter" title="Shelter Status">
                  <span title="{{ location.status.shelter }}">{% if location.status.shelter %}{{ location.status.shelter }}{% else %}Gathering Data{% endif %}</span>
                </div>
              </div>
              <div class="clear"></div>
              <h6>Relief Aid Status for 1 Week:</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" {% if location.relief_aid_status == 'Unknown' %}aria-valuenow="1"{% else %}aria-valuenow="{{ location.relief_aid_status }}"{% endif %} aria-valuemin="0" aria-valuemax="100" {% if location.relief_aid_status == 'Unknown' %}style="width:1%"{% else %}style="width:{{ location.relief_aid_status }}%"{% endif %}>
                  {% if location.relief_aid_status == 'Unknown' %}<span class="sr-only">Unknown... <a href="https://docs.google.com/a/sym.ph/forms/d/1cGWQuAbuIVogA-uO9tZPlR5HMGGYQH3_Yp96BoBS3ng/viewform" target="_blank" title='Contribute Information'>Have Info?</a></span>{% else %}<span class="sr-only">{{ location.relief_aid_status }}%  &nbsp;&nbsp;&nbsp;Have Info?</a></span>{% endif %}
                </div>
              </div>
              <!--
              <div class="status-group">
                <div class="status-entry">
                  <img class="icon" src="/img/icon-pledged.png" alt="Relief Goods Pledged">
                  <span>0 Packs Pledged</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-delivered.png" alt="Relief Goods Delivered">
                  <span>0 Packs Delivered</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-distributed.png" alt="Relief Goods Distributed">
                  <span>0 Packs Distributed</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-needed.png" alt="Relief Goods Needed">
                  <span class="emphasize">0 Packs Needed</span>
                </div>
              </div>
              -->
              <div class="clear"></div><!-- 
              <h6>Active Relief Orgs:</h6>
                <div class="relief-orgs-group">
                  <img src="/img/thumb-dswd.png" title="DSWD">
                  <img src="/img/thumb-redcross.png" title="Philippine Red Cross">
                  <img src="/img/thumb-rafi.png" title="Ramon Aboitiz Foundation, Inc.">
                  <img src="/img/thumb-jci.png" title="Junior Chamber International">
                </div> -->
              <div>
                <a class="btn btn-primary btn-block entry-btn" href="/locations/{{ location.id }}" title="{{ location.name }}" role="button"><span class="glyphicon glyphicon-circle-arrow-right"></span> View Relief Efforts in {{ location.name }} &raquo;</a>
              </div>
            </div>
        </div>
        {% endfor %}

        <div class="col-12" id="no_results_notice">

          <div class="alert">
              <strong>No Locations Found...</strong></a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}


{% block bottomjs %}
        <script src="/js/jquery-draggable.js"></script>
        <script src="/js/jquery.slimscroll.min.js"></script>

        <script src="/js/bootstrap-datepicker.js"></script>
        <script>
            $('.datepicker').datepicker();
        </script>

        <script>
          $(function(){
              $('.feed-wrap').slimScroll({
                  height: '320px'
              });
              $('.updates-wrap-lg').slimScroll({
                  height: '370px'
              });

              $('.updates-wrap-md').slimScroll({
                  height: '421px'
              });

              $('.updates-wrap-sm').slimScroll({
                  height: '360px'
              });

          });
        </script>
        <script>
          $('#myTab a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
          })
        </script>
        <script>
          $(".text-input").focus(function(){
            $(this).closest("form").find(".hidden").removeClass("hidden").addClass("show");
            $(this).closest("div").addClass("shadowed");
          });
          
          $(".cancel-btn").click(function(e){
            e.preventDefault()
            $(this).closest("form").find(".show").removeClass("show").addClass("hidden");
            $(this).closest("div").removeClass("shadowed");
          });

        </script>

        <script src="http://js.pusher.com/2.1/pusher.min.js"></script>
      <script type="text/javascript">

        //pusher
        var pusher = new Pusher('e0a2a1c8316b9baddc9b');
        var channel = pusher.subscribe('feeds');
        

        channel.bind('new_revision', function(data) {
          //do something when the new data is triggered
          console.log(data);
          var d = '<li><img src="http://graph.facebook.com/' + data.fb_id + '/picture?small">
              <label style="margin-bottom: 0;"><a target="_blank" href="http://www.facebook.com/profile.php?id=' + data.fb_id + '">' + data.fb_name + '</a></label> updated <a href="/locations/' + data.location + '"><span class="label label-success">' + data.revision_type + '</span></a><br/><p>' + data.changes + '</p><span class="update-date">' + data.created + '</span></li>';

          $(".updates_feed").prepend(d);
        });
      </script>
      
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      <script type="text/javascript">

    var search_locations = false;
    var search_locations_length = 0;
    var search_locations_text = new Array();

    $(document).ready(function(){

        init_location_search();

        $("body").on("keyup", "#search", function(event){
            val = $("#search").val();
            search_location(val);
            $(".search_buttons").removeClass('active');
        });

        $("#search").focus(function(){
          $('html, body').animate({
              scrollTop: ($("#locations-container").offset().top - 80)
          }, 500);
        })

    });

    function init_location_search(){
        search_locations = $(".location");
        search_locations_length = search_locations.length;
        for (var i = 0; i < search_locations_length; i++) {
            b = search_locations.eq(i);
            c = extract_terms(b);
            c = c.toLowerCase();
            search_locations_text.push(c);
        }
    }

    function extract_terms(b){
        return b.find(".location-tags").html();
    }

    function search_location(search_term){
        if(search_term.length > 0){
            search_term = search_term.toLowerCase();
            search_terms = search_term.split(" ");
            no_results = true;
            for (var i = 0; i < search_locations_length; i++) {
                if(in_terms(search_locations_text[i],search_terms)){
                    search_locations.eq(i).removeClass('hidden');
                    no_results = false;
                } else {
                    search_locations.eq(i).addClass('hidden');
                }
            }
        }
        else {
            search_locations.removeClass('hidden');
            no_results = false;
            $(".updates-feed").removeClass('hidden');
        }
        if(no_results){
          $(".updates-feed").addClass('hidden');
            $("#no_results_notice").removeClass('hidden');
        }
        else {
          $(".updates-feed").addClass('hidden');
            $("#no_results_notice").addClass('hidden');
        }
    }

    function in_terms(term, term_array){
        for(i=0;i<term_array.length;i++){
            if(term.indexOf(term_array[i]) == -1){
                return false;
            }
        }
        return true;
    }

    $(document).ready(function(){
      $("#show-samar").click(function(){
        $("#search").val("Samar");
        search_location("Samar");
        $(this).addClass('active');
        $(this).siblings().removeClass('active');
        $('html, body').animate({
            scrollTop: ($("#locations-container").offset().top - 80)
        }, 500);
      });
      $("#show-leyte").click(function(){
        $("#search").val("Leyte");
        search_location("Leyte");
        $(this).addClass('active');
        $(this).siblings().removeClass('active');
        $('html, body').animate({
            scrollTop: ($("#locations-container").offset().top - 80)
        }, 500);
      });
      $("#show-cebu").click(function(){
        $("#search").val("Cebu");
        search_location("Cebu");
        $(this).addClass('active');
        $(this).siblings().removeClass('active');
        $('html, body').animate({
            scrollTop: ($("#locations-container").offset().top - 80)
        }, 500);
      });
      $("#show-iloilo").click(function(){
        $("#search").val("Iloilo");
        search_location("Iloilo");
        $(this).addClass('active');
        $(this).siblings().removeClass('active');
        $('html, body').animate({
            scrollTop: ($("#locations-container").offset().top - 80)
        }, 500);
      });
      $("#show-capiz").click(function(){
        $("#search").val("Capiz");
        search_location("Capiz");
        $(this).addClass('active');
        $(this).siblings().removeClass('active');
        $('html, body').animate({
            scrollTop: ($("#locations-container").offset().top - 80)
        }, 500);
      });
      $("#show-aklan").click(function(){
        $("#search").val("Aklan");
        search_location("Aklan");
        $(this).addClass('active');
        $(this).siblings().removeClass('active');
        $('html, body').animate({
            scrollTop: ($("#locations-container").offset().top - 80)
        }, 500);
      });
      $("#show-antique").click(function(){
        $("#search").val("Antique");
        search_location("Antique");
        $(this).addClass('active');
        $(this).siblings().removeClass('active');
        $('html, body').animate({
            scrollTop: ($("#locations-container").offset().top - 80)
        }, 500);
      });
      $("#show-all").click(function(){
        $("#search").val("");
        search_location("");
        $(this).addClass('active');
        $(this).siblings().removeClass('active');
        $('html, body').animate({
            scrollTop: ($("#locations-container").offset().top - 80)
        }, 500);
      });
    });

    </script>

{% endblock %}