{% extends 'frontend/public-index.html' %}

{% block ogdetails %}

    <meta property="og:image" content="{{ location.featured_photo }}"/>
    <meta property="twitter:image" content="{{ location.featured_photo }}"/>
    <meta property="og:title" content="{{ page_title }}"/>
    <meta property="twitter:title" content="{{ page_title }}"/>
    <meta property="og:url" content="{{ current_base_url }}"/>

{% endblock %}


{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1>{{ page_title }}</h1>
      <p>{% if location.description %}{{ location.description }}{% else %}We Need Your Help! Help the community of {{ page_title }}! Share information on your latest or planned relief drop here and let's get aid where it is needed the most!{% endif %}</p>
    </div>
  </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class='col-lg-12'><a class='btn' href='/locations/{{ location_id }}'>Back to {{ page_title }}</a><div class='pull-right'>Logged in as: {{ login_user }}</div>
        <hr/>
      </div>

      <div class="row">
        <div class="col-12">

        <h2>Guidelines: PLEASE READ!!!!</h2>
        
          <div><strong>GENERAL GUIDELINES</strong></div>
          <ol>
          <li>Anything you submit here is IMMEDIATELY made PUBLIC and VISIBLE. Be accurate and double check everything.</li>
          <li>ONLY submit information here that is VERIFIED and CONFIRMED by reputable sources such as official news agencies, authorized people (eg. official statements of Mayors and other public officials of a city or municipality), and first-hand accounts with multiple corroborative evidence.</li>
          <li>In the "Source/s" field, explain how you obtained the information. If possible, please include links to website sources. (Not applicable when adding a Relief Effort)</li>
          <li>When you submit information, your changes and profile will be shown in the Revision History of the Location.</li>
          </ol>
          <div><strong>HOW TO FILL IN FIELDS</strong></div>
          <ol>
          <li>Some fields only accept numeric values only. Please remove COMMAS and SPACES in between numbers. No letters allowed.</li>
          <li>For the display information, please keep your data input as short and concise as possible.</li>
          <li>Please DO NOT put names of people for the Families Affected Text and Missing Persons Text fields.</li>
          </ol>
          <div><strong>SAMPLE STATUS FOR DISPLAY INFORMATION</strong></div>
          <ul>
          <li>Dead Count Text - “12 Deads” “20+ Deads”</li>
          <li>Families Affected Text - “2,345 Affected Families” “6,890 Individuals Affected”</li>
          <li>Missing Persons Text - “34 Missing”</li>
          </ul>
          
          <div>Thank you for helping out! Your contribution will go a long way in helping the victims.</div>
        <hr/>
      </div>
      </div>
          {% if success %}
          <div class="alert alert-success">
            {{ success }} <a href="/locations/{{ location_id }}" class="alert-link">Go back to {{ page_title }}</a>
          </div>
          <hr/>
          {% endif %}

          <div class="col-lg-6 col-md-6 well">
            <h3>Add a Relief Effort to {{ page_title }}</h3>
            <form method="post">
              <input type="hidden" name="status" value="reliefs"/>
              <input type="hidden" name="page_title" value="{{ location_id }}"/>
              <input type="hidden" name="page_title_pretty" value="{{ page_title }}"/>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th colspan="2">Please Fill in ALL the Fields</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Org Name</td>
                    <td><input type="text" class="form-control" required="required" name="relief_name"/></td>
                  </tr>
                  <tr>
                    <td>Destination (Barangay)</td>
                    <td><input type="text" class="form-control" required="required" name="destination"</td>
                  </tr>
                  <tr>
                    <td>Tag (Category)</td>
                    <td>
                      <select class="form-control" name="tag">
                        <option value="UNKNOWN">UNKNOWN</option>
                        <option value="FOOD & WATER">FOOD & WATER</option>
                        <option value="SHELTER">SHELTER</option>
                        <option value="MEDICINE">MEDICINE</option>
                        <option value="HYGIENE">HYGIENE</option>
                        <option value="MEDICAL MISSION">MEDICAL MISSION</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Number of Packs/Units</td>
                    <td><input type="text" class="form-control" required="required" name="packs" onblur="if(isNaN(this.value)){ alert('Please remove non-numeric value.'); this.focus(); return false; }" placeholder="Number only"/></td>
                  </tr>
                  <tr>
                    <td>Description</td>
                    <td><textarea class="form-control" name="description" required="required"></textarea></td>
                  </tr>
                  <tr>
                    <td>Contact Details</td>
                    <td><input type="text" class="form-control" required="required" name="contacts"/></td>
                  </tr>
                  <tr>
                    <td>Needs of Relief Operation</td>
                    <td><textarea class="form-control" placeholder="Does this relief operation need anything? Volunteers? Transportation? Anything? Put it here." name="needs"></textarea></td>
                  </tr>
                  <tr>
                    <td>Date of Operation</td>
                    <td>
                      <select name="date" class="form-control">
                        <option value="UNKNOWN">UNKNOWN</option>
                        <option value="11/08/2013">11/08/2013</option>
                        <option value="11/09/2013">11/09/2013</option>
                        <option value="11/10/2013">11/10/2013</option>
                        <option value="11/11/2013">11/11/2013</option>
                        <option value="11/12/2013">11/12/2013</option>
                        <option value="11/13/2013">11/13/2013</option>
                        <option value="11/14/2013">11/14/2013</option>
                        <option value="11/15/2013">11/15/2013</option>
                        <option value="11/16/2013">11/16/2013</option>
                        <option value="11/17/2013">11/17/2013</option>
                        <option value="11/18/2013">11/18/2013</option>
                        <option value="11/19/2013">11/19/2013</option>
                        <option value="11/20/2013">11/20/2013</option>
                        <option value="11/21/2013">11/21/2013</option>
                        <option value="11/22/2013">11/22/2013</option>
                        <option value="11/23/2013">11/23/2013</option>
                        <option value="11/24/2013">11/24/2013</option>
                        <option value="11/25/2013">11/25/2013</option>
                        <option value="11/26/2013">11/26/2013</option>
                        <option value="11/27/2013">11/27/2013</option>
                        <option value="11/28/2013">11/28/2013</option>
                        <option value="11/29/2013">11/29/2013</option>
                        <option value="11/30/2013">11/30/2013</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                      <td>Status</td>
                      <td>
                        <select class="form-control" name="status_">
                          <option value="UNKNOWN">UNKNOWN</option>
                          <option value="ONGOING">ONGOING</option>
                          <option value="MISSION COMPLETED">MISSION COMPLETED</option>
                          <option value="CANCELLED">CANCELLED</option>
                          <option value="POSTPONED">POSTPONED</option>
                        </select>
                      </td>
                    </tr>
                </tbody>
              </table>
              <a href="/locations/{{ location_id }}" class="btn btn-default">Cancel</a>
              <button class="btn btn-primary btn-lg" type="submit">Add</button>
            </form>
          </div>

          <div class='col-lg-6 col-md-6 well'>
            <h3>Update Status of {{ page_title }}</h3>
            <form method="post">
            <input type="hidden" name="status" value="status"/>
            <input type="hidden" name="page_title" value="{{ location_id }}"/>

            <table class="table table-hover">
              <thead>
                <tr>
                  <th colspan="2">{{ page_title }} (Numbers only, no commas, no text)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Death Count</td>
                  <td><input required="requried" name="death_count" onblur="if(isNaN(this.value)){ alert('Please remove non-numeric value.'); this.focus(); return false; }" class="form-control" type="text" value="{{ location.death_count }}" placeholder="Numeric value only"/><input name="death_source" class="form-control" type="hidden" placeholder="Source"/></td>
                </tr>
                <tr>
                  <td>Families Affected Count</td>
                  <td><input name="affected_count" onblur="if(isNaN(this.value)){ alert('Please remove non-numeric value.'); this.focus(); return false; }" class="form-control" type="text" value="{{ location.affected_count }}" placeholder="Numeric value only"/><input name="affected_source" class="form-control" type="hidden" placeholder="Source"/></td>
                </tr>
                <tr>
                  <td>Missing Persons Count</td>
                  <td><input name="missing_person" onblur="if(isNaN(this.value)){ alert('Please remove non-numeric value.'); this.focus(); return false; }" class="form-control" type="text" value="{{ location.missing_person }}" placeholder="Numeric value only"/><input name="missing_person_source" class="form-control" type="hidden" placeholder="Source"/></td>
                </tr>
                <tr>
                  <td><br/></td>
                  <td></td>
                </tr>
                <tr>
                  <th colspan="2">Display Information. This is shown as is. (You may include commas)</th>
                </tr>
                <tr>
                  <td>Death Count Text</td>
                  <td><input name="death_count_text"class="form-control" type="text" value="{% if location.death_count_text %}{{ location.death_count_text }}{% endif %}"/></td>
                </tr>
                <tr>
                  <td>Families Affected Text</td>
                  <td><input name="affected_count_text" class="form-control" type="text" value="{% if location.affected_count_text %}{{ location.affected_count_text }}{% endif %}"/></td>
                </tr>
                <tr>
                  <td>Missing Persons Count Text</td>
                  <td><input name="missing_person_text" class="form-control" type="text" value="{% if location.missing_person_text %}{{ location.missing_person_text }}{% endif %}" /></td>
                </tr>
                
                <tr>
                  <td>Communication Status</td>
                  <td><input name="status_communication" class="form-control" type="text" value="{% if location.status.communication %}{{ location.status.communication }}{% else %}Gathering Data{% endif %}" placeholder="Status"/></td>
                </tr>
                <tr>
                  <td>Water Status</td>
                  <td><input name="status_water" class="form-control" type="text" value="{% if location.status.water %}{{ location.status.water }}{% else %}Gathering Data{% endif %}" placeholder="Status"/></td>
                </tr>
                <tr>
                  <td>Power Status</td>
                  <td><input name="status_power" class="form-control" type="text" value="{% if location.status.power %}{{ location.status.power }}{% else %}Gathering Data{% endif %}" placeholder="Status"/></td>
                </tr>
                <tr>
                  <td>Medicines Status</td>
                  <td><input name="status_medicines" class="form-control" type="text" value="{% if location.status.medicines %}{{ location.status.medicines }}{% else %}Gathering Data{% endif %}" placeholder="Status"/></td>
                </tr>
                <tr>
                  <td>Food Status</td>
                  <td><input name="status_food" class="form-control" type="text" value="{% if location.status.food %}{{ location.status.food }}{% else %}Gathering Data{% endif %}" placeholder="Status"/></td>
                </tr>
                <tr>
                  <td>Clothes Status</td>
                  <td><input name="status_cloths" class="form-control" type="text" value="{% if location.status.cloths %}{{ location.status.cloths }}{% else %}Gathering Data{% endif %}" placeholder="Status"/></td>
                </tr>

                <tr>
                  <td>Shelter Status</td>
                  <td><input name="status_shelter" class="form-control" type="text" value="{% if location.status.shelter %}{{ location.status.shelter }}{% else %}Gathering Data{% endif %}" placeholder="Status"/></td>
                </tr>



                <tr>
                  <td>Status Info Board</td>
                  <td><textarea name="status_board" class="form-control" style="min-height:300px;">{% if location.status_board %}{{ location.status_board }}{% endif %}</textarea></td>
                </tr>
                <tr>
                  <td><br/></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Source/s</td>
                  <td><input name="source" class="form-control" type="text" value="" placeholder="Source/s"/></td>
                </tr>
                <tr>
                  <td><br/></td>
                  <td></td>
                </tr>
                <tr>
                  <th colspan="2">Current Relief Levels</th>
                </tr>
                <tr>
                  <td>Food & Water</td>
                  <td>
                    <select name="levels_food" class="form-control">
                      <option{% if location.levels.food == 0 %} selected="selected"{% endif %} value="0">0%</option>
                      <option{% if location.levels.food == 5 %} selected="selected"{% endif %} value="5">5%</option>
                      <option{% if location.levels.food == 10 %} selected="selected"{% endif %} value="10">10%</option>
                      <option{% if location.levels.food == 15 %} selected="selected"{% endif %} value="15">15%</option>
                      <option{% if location.levels.food == 20 %} selected="selected"{% endif %} value="20">20%</option>
                      <option{% if location.levels.food == 25 %} selected="selected"{% endif %} value="25">25%</option>
                      <option{% if location.levels.food == 30 %} selected="selected"{% endif %} value="30">30%</option>
                      <option{% if location.levels.food == 35 %} selected="selected"{% endif %} value="35">35%</option>
                      <option{% if location.levels.food == 40 %} selected="selected"{% endif %} value="40">40%</option>
                      <option{% if location.levels.food == 45 %} selected="selected"{% endif %} value="45">45%</option>
                      <option{% if location.levels.food == 50 %} selected="selected"{% endif %} value="50">50%</option>
                      <option{% if location.levels.food == 55 %} selected="selected"{% endif %} value="55">55%</option>
                      <option{% if location.levels.food == 60 %} selected="selected"{% endif %} value="60">60%</option>
                      <option{% if location.levels.food == 65 %} selected="selected"{% endif %} value="65">65%</option>
                      <option{% if location.levels.food == 70 %} selected="selected"{% endif %} value="70">70%</option>
                      <option{% if location.levels.food == 75 %} selected="selected"{% endif %} value="75">75%</option>
                      <option{% if location.levels.food == 80 %} selected="selected"{% endif %} value="80">80%</option>
                      <option{% if location.levels.food == 85 %} selected="selected"{% endif %} value="85">85%</option>
                      <option{% if location.levels.food == 90 %} selected="selected"{% endif %} value="90">90%</option>
                      <option{% if location.levels.food == 95 %} selected="selected"{% endif %} value="95">95%</option>
                      <option{% if location.levels.food == 100 %} selected="selected"{% endif %} value="100">100%</option>
                    </select>
                  </td>
                </tr>

                <tr>
                  <td>Hygiene Packs</td>
                  <td><select name="levels_hygiene" class="form-control">
                      <option{% if location.levels.hygiene == 0 %} selected="selected"{% endif %} value="0">0%</option>
                      <option{% if location.levels.hygiene == 5 %} selected="selected"{% endif %} value="5">5%</option>
                      <option{% if location.levels.hygiene == 10 %} selected="selected"{% endif %} value="10">10%</option>
                      <option{% if location.levels.hygiene == 15 %} selected="selected"{% endif %} value="15">15%</option>
                      <option{% if location.levels.hygiene == 20 %} selected="selected"{% endif %} value="20">20%</option>
                      <option{% if location.levels.hygiene == 25 %} selected="selected"{% endif %} value="25">25%</option>
                      <option{% if location.levels.hygiene == 30 %} selected="selected"{% endif %} value="30">30%</option>
                      <option{% if location.levels.hygiene == 35 %} selected="selected"{% endif %} value="35">35%</option>
                      <option{% if location.levels.hygiene == 40 %} selected="selected"{% endif %} value="40">40%</option>
                      <option{% if location.levels.hygiene == 45 %} selected="selected"{% endif %} value="45">45%</option>
                      <option{% if location.levels.hygiene == 50 %} selected="selected"{% endif %} value="50">50%</option>
                      <option{% if location.levels.hygiene == 55 %} selected="selected"{% endif %} value="55">55%</option>
                      <option{% if location.levels.hygiene == 60 %} selected="selected"{% endif %} value="60">60%</option>
                      <option{% if location.levels.hygiene == 65 %} selected="selected"{% endif %} value="65">65%</option>
                      <option{% if location.levels.hygiene == 70 %} selected="selected"{% endif %} value="70">70%</option>
                      <option{% if location.levels.hygiene == 75 %} selected="selected"{% endif %} value="75">75%</option>
                      <option{% if location.levels.hygiene == 80 %} selected="selected"{% endif %} value="80">80%</option>
                      <option{% if location.levels.hygiene == 85 %} selected="selected"{% endif %} value="85">85%</option>
                      <option{% if location.levels.hygiene == 90 %} selected="selected"{% endif %} value="90">90%</option>
                      <option{% if location.levels.hygiene == 95 %} selected="selected"{% endif %} value="95">95%</option>
                      <option{% if location.levels.hygiene == 100 %} selected="selected"{% endif %} value="100">100%</option>
                    </select></td>
                </tr>

                <tr>
                  <td>Medicine Packs</td>
                  <td><select name="levels_medicine" class="form-control">
                      <option{% if location.levels.medicine == 0 %} selected="selected"{% endif %} value="0">0%</option>
                      <option{% if location.levels.medicine == 5 %} selected="selected"{% endif %} value="5">5%</option>
                      <option{% if location.levels.medicine == 10 %} selected="selected"{% endif %} value="10">10%</option>
                      <option{% if location.levels.medicine == 15 %} selected="selected"{% endif %} value="15">15%</option>
                      <option{% if location.levels.medicine == 20 %} selected="selected"{% endif %} value="20">20%</option>
                      <option{% if location.levels.medicine == 25 %} selected="selected"{% endif %} value="25">25%</option>
                      <option{% if location.levels.medicine == 30 %} selected="selected"{% endif %} value="30">30%</option>
                      <option{% if location.levels.medicine == 35 %} selected="selected"{% endif %} value="35">35%</option>
                      <option{% if location.levels.medicine == 40 %} selected="selected"{% endif %} value="40">40%</option>
                      <option{% if location.levels.medicine == 45 %} selected="selected"{% endif %} value="45">45%</option>
                      <option{% if location.levels.medicine == 50 %} selected="selected"{% endif %} value="50">50%</option>
                      <option{% if location.levels.medicine == 55 %} selected="selected"{% endif %} value="55">55%</option>
                      <option{% if location.levels.medicine == 60 %} selected="selected"{% endif %} value="60">60%</option>
                      <option{% if location.levels.medicine == 65 %} selected="selected"{% endif %} value="65">65%</option>
                      <option{% if location.levels.medicine == 70 %} selected="selected"{% endif %} value="70">70%</option>
                      <option{% if location.levels.medicine == 75 %} selected="selected"{% endif %} value="75">75%</option>
                      <option{% if location.levels.medicine == 80 %} selected="selected"{% endif %} value="80">80%</option>
                      <option{% if location.levels.medicine == 85 %} selected="selected"{% endif %} value="85">85%</option>
                      <option{% if location.levels.medicine == 90 %} selected="selected"{% endif %} value="90">90%</option>
                      <option{% if location.levels.medicine == 95 %} selected="selected"{% endif %} value="95">95%</option>
                      <option{% if location.levels.medicine == 100 %} selected="selected"{% endif %} value="100">100%</option>
                    </select></td>
                </tr>

                <tr>
                  <td>Medical Missions</td>
                  <td><select name="levels_medical_mission" class="form-control">
                      <option{% if location.levels.medical_mission == 0 %} selected="selected"{% endif %} value="0">0%</option>
                      <option{% if location.levels.medical_mission == 5 %} selected="selected"{% endif %} value="5">5%</option>
                      <option{% if location.levels.medical_mission == 10 %} selected="selected"{% endif %} value="10">10%</option>
                      <option{% if location.levels.medical_mission == 15 %} selected="selected"{% endif %} value="15">15%</option>
                      <option{% if location.levels.medical_mission == 20 %} selected="selected"{% endif %} value="20">20%</option>
                      <option{% if location.levels.medical_mission == 25 %} selected="selected"{% endif %} value="25">25%</option>
                      <option{% if location.levels.medical_mission == 30 %} selected="selected"{% endif %} value="30">30%</option>
                      <option{% if location.levels.medical_mission == 35 %} selected="selected"{% endif %} value="35">35%</option>
                      <option{% if location.levels.medical_mission == 40 %} selected="selected"{% endif %} value="40">40%</option>
                      <option{% if location.levels.medical_mission == 45 %} selected="selected"{% endif %} value="45">45%</option>
                      <option{% if location.levels.medical_mission == 50 %} selected="selected"{% endif %} value="50">50%</option>
                      <option{% if location.levels.medical_mission == 55 %} selected="selected"{% endif %} value="55">55%</option>
                      <option{% if location.levels.medical_mission == 60 %} selected="selected"{% endif %} value="60">60%</option>
                      <option{% if location.levels.medical_mission == 65 %} selected="selected"{% endif %} value="65">65%</option>
                      <option{% if location.levels.medical_mission == 70 %} selected="selected"{% endif %} value="70">70%</option>
                      <option{% if location.levels.medical_mission == 75 %} selected="selected"{% endif %} value="75">75%</option>
                      <option{% if location.levels.medical_mission == 80 %} selected="selected"{% endif %} value="80">80%</option>
                      <option{% if location.levels.medical_mission == 85 %} selected="selected"{% endif %} value="85">85%</option>
                      <option{% if location.levels.medical_mission == 90 %} selected="selected"{% endif %} value="90">90%</option>
                      <option{% if location.levels.medical_mission == 95 %} selected="selected"{% endif %} value="95">95%</option>
                      <option{% if location.levels.medical_mission == 100 %} selected="selected"{% endif %} value="100">100%</option>
                    </select></td>
                </tr>

                <tr>
                  <td>Shelter Materials</td>
                  <td><select name="levels_shelter" class="form-control">
                      <option{% if location.levels.shelter == 0 %} selected="selected"{% endif %} value="0">0%</option>
                      <option{% if location.levels.shelter == 5 %} selected="selected"{% endif %} value="5">5%</option>
                      <option{% if location.levels.shelter == 10 %} selected="selected"{% endif %} value="10">10%</option>
                      <option{% if location.levels.shelter == 15 %} selected="selected"{% endif %} value="15">15%</option>
                      <option{% if location.levels.shelter == 20 %} selected="selected"{% endif %} value="20">20%</option>
                      <option{% if location.levels.shelter == 25 %} selected="selected"{% endif %} value="25">25%</option>
                      <option{% if location.levels.shelter == 30 %} selected="selected"{% endif %} value="30">30%</option>
                      <option{% if location.levels.shelter == 35 %} selected="selected"{% endif %} value="35">35%</option>
                      <option{% if location.levels.shelter == 40 %} selected="selected"{% endif %} value="40">40%</option>
                      <option{% if location.levels.shelter == 45 %} selected="selected"{% endif %} value="45">45%</option>
                      <option{% if location.levels.shelter == 50 %} selected="selected"{% endif %} value="50">50%</option>
                      <option{% if location.levels.shelter == 55 %} selected="selected"{% endif %} value="55">55%</option>
                      <option{% if location.levels.shelter == 60 %} selected="selected"{% endif %} value="60">60%</option>
                      <option{% if location.levels.shelter == 65 %} selected="selected"{% endif %} value="65">65%</option>
                      <option{% if location.levels.shelter == 70 %} selected="selected"{% endif %} value="70">70%</option>
                      <option{% if location.levels.shelter == 75 %} selected="selected"{% endif %} value="75">75%</option>
                      <option{% if location.levels.shelter == 80 %} selected="selected"{% endif %} value="80">80%</option>
                      <option{% if location.levels.shelter == 85 %} selected="selected"{% endif %} value="85">85%</option>
                      <option{% if location.levels.shelter == 90 %} selected="selected"{% endif %} value="90">90%</option>
                      <option{% if location.levels.shelter == 95 %} selected="selected"{% endif %} value="95">95%</option>
                      <option{% if location.levels.shelter == 100 %} selected="selected"{% endif %} value="100">100%</option>
                    </select></td>
                </tr>
                
              </tbody>
            </table>
            <a href="/locations/{{ location_id }}" class="btn btn-default">Cancel</a>
            <button type="submit" class="btn btn-primary btn-lg">Save</button>
            </form>
          </div>
      </div>
    </div>
    <br/><br/>
{% endblock %}
{% block customcss %}
<link rel="stylesheet" href="/css/jquery.bxslider.css">
{% endblock %}
{% block bottomjs %}
  <script src="/js/jquery.bxslider.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/jquery.fitvids.js"></script>
    <script type="text/javascript">
    $('.bxslider').bxSlider({
      pagerCustom: '#bx-pager',
      adaptiveHeight: true,
      mode: 'fade'
    });
    </script>
{% endblock %}