{% extends 'frontend/public-index.html' %}

{% block ogdetails %}



{% endblock %}


{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>Let's Coordinate our Relief Efforts</h1>
        <p>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again. <span style="font-weight: bold; color: #E02A2A;">Together.</span></p>
<!-- 
        <p><a class="btn btn-primary btn-md pull-right" href="https://docs.google.com/a/sym.ph/forms/d/1cGWQuAbuIVogA-uO9tZPlR5HMGGYQH3_Yp96BoBS3ng/viewform?edit_requested=true" target="_blank">Are we missing anyone? Tell us.</a></p> -->
        
        <div class="social-media pull-right">
          <div class="social-item mt-16">
            <div class="fb-share-button" data-href="{{ current_base_url }}" data-type="button_count"></div>            
          </div>
          <div class="social-item">
            <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="BangonPH">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
          
      <div class="col-lg-8 col-md-8">
        <div id="campaign-content-wrap">
            <h3 class="mt0">Dan Allen Pantinople says:</h3>
            <h4 class="label2 label-info">needs transpo</h4>
            <blockquote class="mb0">Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.</blockquote>
            <div class="pull-right">
              <div class="social-item">
                  <div class="fb-share-button" data-href="{{ current_base_url }}" data-type="button_count"></div>
              </div>
              <div class="social-item">
                <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="BangonPH">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              </div>
            </div>
            <div class="clearfix"></div>
            </div>
          <div class="col-lg-8">
              <div id="fb-root"></div>
              <div id="fb-root"></div>
              <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));</script>
              <div class="fb-comments" data-href="{{ current_base_url }}" data-numposts="10"></div>
          </div>
        </div>

      <div class="col-lg-4 col-md-4 feed">
          
       <strong>Need Anything? Post it here!</strong>
       <!-- <span class="pull-right"><a href="/posts" class="see-more-btn">see more</a></span> -->

        <div class="feed-input">
          <form id="post_need">
            <textarea placeholder="what do you need.." name="message" class="text-input"></textarea>
            <input type="text" name="expiry" placeholder="show this until what date" class="datepicker hidden">
            <input type="text" name="location" placeholder="what place is this for" class="hidden">
            <input type="text" name="name" placeholder="what is your name" class="hidden">
            <input type="text" name="phone" placeholder="leave your contact details" class="hidden">
            <input type="text" style="display: none;" name="comment">
            <input type="hidden" name="post_type" value="NEED" />
            <a href="#" class="btn btn-default hidden cancel-btn">Cancel</a>
            <input type="submit" value="Post" id="post_need_submit" class="btn btn-primary hidden submit-btn">
          </form>
        </div>

        <ul class="nav nav-pills">
         <!--  <li class="active"><a href="#all" data-toggle="tab">All</a></li>
          <li><a href="#transpo" data-toggle="tab">Transpo</a></li>
          <li><a href="#volunteers" data-toggle="tab">Volunteers</a></li>
          <li><a href="#relief-goods" data-toggle="tab">Relief Goods</a></li> -->
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="all">
             <ul id="post_need_feed" class="feed-wrap"></ul>
          </div>
        </div>

          <strong>What can you donate? Let us know!</strong>
          <!-- <span class="pull-right"><a href="/posts" class="see-more-btn">see more</a></span> -->
         
           <div class="feed-input">
             <form id="post_have">
                <textarea placeholder="what do you have.." name="message" class="text-input"></textarea>
                <input type="text" name="expiry" placeholder="until when is it available" class="datepicker hidden">
                <input type="text" name="location" placeholder="where is it" class="hidden">
                <input type="text" name="name" placeholder="what is your name" class="hidden">
                <input type="text" name="phone" placeholder="leave your contact details" class="hidden">
                <input type="text" style="display: none;" name="comment">
                <input type="hidden" name="post_type" value="HAVE" />
                <a href="#" class="btn btn-default hidden cancel-btn">Cancel</a>
                <input type="submit" value="Post" id="post_have_submit" class="btn btn-primary hidden submit-btn">
              </form>
            </div>

          <ul class="nav nav-pills">
            <!-- <li class="active"><a href="#all-have" data-toggle="tab">All</a></li>
            <li><a href="#transpo-have" data-toggle="tab">Transpo</a></li>
            <li><a href="#volunteers-have" data-toggle="tab">Volunteers</a></li>
            <li><a href="#relief-goods-have" data-toggle="tab">Relief Goods</a></li> -->
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="all-have">
               <ul class="feed-wrap" id="post_have_feed"></ul>
            </div>
          </div>
      </div>


<!--             <h3 class="mt0">Other Posts from Dan</h3>
            
            <div class="related-posts-entry">
                <h4 class="label2 label-danger">needs transpo</h4>
                <p>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people.. </p><a class="see-more-btn pull-right" href="#">See More</a> 
              <div class="clearfix"></div>
              <hr>
            </div>

            <div class="related-posts-entry">
                <h4 class="label2 label-success">needs transpo</h4>
                <p>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people.. </p><a class="see-more-btn pull-right" href="#">See More</a> 
              <div class="clearfix"></div>
              <hr>
            </div>

            <div class="related-posts-entry">
                <h4 class="label2 label-info">needs transpo</h4>
                <p>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people.. </p><a class="see-more-btn pull-right" href="#">See More</a> 
              <div class="clearfix"></div>
              <hr>
            </div> -->
            
        </div>
      </div>
      <div class="clearfix"></div>

    <div class="clearfix"></div>
    <br/>


    </div>
    </div>
{% endblock %}
{% block customcss %}
<link rel="stylesheet" href="/css/jquery.bxslider.css">
{% endblock %}
{% block bottomjs %}
        <script src="/js/jquery-draggable.js"></script>
        <script src="/js/jquery.slimscroll.min.js"></script>
        <script>
          $(function(){
              $('.feed-wrap').slimScroll({
                  height: '420px'
              });
          });
        </script>
        <script>
          $('#myTab a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
          })
        </script>
        <script>
          $(".text-input").focus(function(){
            $(this).closest("form").find(".hidden").removeClass("hidden").addClass("show");
            $(this).closest("div").addClass("shadowed");
          });
          
          $(".cancel-btn").click(function(e){
            e.preventDefault()
            $(this).closest("form").find(".show").removeClass("show").addClass("hidden");
            $(this).closest("div").removeClass("shadowed");
          });
        </script>
{% endblock %}