{% extends 'frontend/public-index.html' %}

{% block ogdetails %}



{% endblock %}


{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>Let's Coordinate our Relief Efforts</h1>
        <p>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again. <span style="font-weight: bold; color: #E02A2A;">Together.</span></p>
<!-- 
        <p><a class="btn btn-primary btn-md pull-right" href="https://docs.google.com/a/sym.ph/forms/d/1cGWQuAbuIVogA-uO9tZPlR5HMGGYQH3_Yp96BoBS3ng/viewform?edit_requested=true" target="_blank">Are we missing anyone? Tell us.</a></p> -->
        
        <div class="social-media pull-right">
          <div class="social-item mt-16">
            <div class="fb-share-button" data-href="{{ current_base_url }}" data-type="button_count"></div>            
          </div>
          <div class="social-item">
            <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="BangonPH">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
          


      <div class="col-lg-4 col-md-6 col-sm-6 col feed">
       <strong>Needs</strong>
       <span class="pull-right"><a href="#" class="see-more-btn">see more</a></span>
       
       <ul class="nav nav-pills">
          <li class="active"><a href="#all" data-toggle="tab">All</a></li>
          <li><a href="#transpo" data-toggle="tab">Transpo</a></li>
          <li><a href="#volunteers" data-toggle="tab">Volunteers</a></li>
          <li><a href="#relief-goods" data-toggle="tab">Relief Goods</a></li>
        </ul>
        <div class="tab-content">

          <div class="tab-pane active" id="all">
             <ul class="feed-wrap">

                <li class="all">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-default">tacloban</span><span class="label label-info">needs transpo</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>
                <li class="all">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-success">needs volunteers</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>
                <li class="all">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-danger">needs relief goods</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>
                <li class="all">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-info">needs transpo</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>

             </ul>
          </div>

          <div class="tab-pane" id="transpo">
             <ul class="feed-wrap">

                <li class="transpo">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-info">needs transpo</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>
                <li class="transpo">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-info">needs transpo</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>
                <li class="transpo">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-info">needs transpo</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>
                <li class="transpo">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-info">needs transpo</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>

             </ul>
          </div>

          <div class="tab-pane" id="volunteers">
             <ul class="feed-wrap">

                <li class="volunteers">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-success">needs volunteers</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>
                <li class="volunteers">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-success">needs volunteers</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>
                <li class="volunteers">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-success">needs volunteers</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>
                <li class="volunteers">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-success">needs volunteers</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>

             </ul>
          </div>

          <div class="tab-pane" id="relief-goods">
             <ul class="feed-wrap">

                <li class="relief-goods">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-danger">needs relief goods</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>
                <li class="relief-goods">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-danger">needs relief goods</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>
                <li class="relief-goods">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-danger">needs relief goods</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>
                <li class="relief-goods">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-danger">needs relief goods</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>

             </ul>
          </div>
       </div>
        
      </div>
          <div class="col-lg-4 col-md-4">
            <div id="campaign-content-wrap">
                das
            </div>
          </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col feed">
       <strong>Have</strong>
       <span class="pull-right"><a href="#" class="see-more-btn">see more</a></span>
       
       <ul class="nav nav-pills">
          <li class="active"><a href="#all-have" data-toggle="tab">All</a></li>
          <li><a href="#transpo-have" data-toggle="tab">Transpo</a></li>
          <li><a href="#volunteers-have" data-toggle="tab">Volunteers</a></li>
          <li><a href="#relief-goods-have" data-toggle="tab">Relief Goods</a></li>
        </ul>
        <div class="tab-content">

          <div class="tab-pane active" id="all-have">
             <ul class="feed-wrap">

                <li class="all-have">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-info">needs transpo</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>
                <li class="all-have">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-success">needs volunteers</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>
                <li class="all-have">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-danger">needs relief goods</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>
                <li class="all-have">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-info">needs transpo</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>

             </ul>
          </div>

          <div class="tab-pane" id="transpo-have">
             <ul class="feed-wrap">

                <li class="transpo-have">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-info">needs transpo</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>
                <li class="transpo-have">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-info">needs transpo</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>
                <li class="transpo-have">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-info">needs transpo</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>
                <li class="transpo-have">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-info">needs transpo</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>

             </ul>
          </div>

          <div class="tab-pane" id="volunteers-have">
             <ul class="feed-wrap">

                <li class="volunteers-have">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-success">needs volunteers</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>
                <li class="volunteers-have">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-success">needs volunteers</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>
                <li class="volunteers-have">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-success">needs volunteers</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>
                <li class="volunteers-have">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-success">needs volunteers</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>

             </ul>
          </div>

          <div class="tab-pane" id="relief-goods-have">
             <ul class="feed-wrap">

                <li class="relief-goods-have">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-danger">needs relief goods</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>
                <li class="relief-goods-have">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-danger">needs relief goods</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>
                <li class="relief-goods-have">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-danger">needs relief goods</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>
                <li class="relief-goods-have">
                  <a href="#">
                    <strong>dan allen pantinople</strong>
                    <p><span class="label label-danger">needs relief goods</span>Super Typhoon Yolanda hit the Philippines and left several towns devastated. Affecting more than 2 million people and killing over 2,000 and still counting. This is the live and developing story of how we rise again.

                    <br/><span class="date-time">Nov 14, 2013 - 2:19pm <span class="pull-right"><a href="#share" class="share-btn">Share</a></span></span>
                    </p>
                  </a>
                </li>

             </ul>
          </div>

    <div class="clearfix"></div>
    <br/>


    </div>
    </div>
{% endblock %}
{% block customcss %}
<link rel="stylesheet" href="/css/jquery.bxslider.css">
{% endblock %}
{% block bottomjs %}
        <script src="/js/jquery-draggable.js"></script>
        <script src="/js/jquery.slimscroll.min.js"></script>
        <script>
          $(function(){
              $('.feed-wrap').slimScroll({
                  height: '420px'
              });
          });
        </script>
        <script>
          $('#myTab a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
          })
        </script>
{% endblock %}