{% extends 'frontend/public-index.html' %}

{% block content %}
  <div class="jumbotron">
      <div class="container">
        <h1>Typhoon Yolanda</h1>
        <p>Super Typhoon recently trampled our land, killed the cows & left us devasted. We are currently monitoring all the relief goods, making sure every place receives the goodies. Join us & feed the people!</p>
        <p><a class="btn btn-primary btn-lg pull-right">See how you can help &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        {% for location in locations %}
        <div class="col-lg-4 col-md-6 col-sm-6 col">
            <div class="status-item">
              <!--<h3>{{ location.name }}</h3>-->
              <img src="{{ location.featured_photo }}" alt="{{ location.name }}" onclick="self.location='/locations/{{ location.key.id() }}';" >
              <h6 class="mb0">Current Status:</h6>
              <div class="status-group">
                <div class="status-entry">
                  <img class="icon" src="/img/icon-deaths.png" alt="Deaths">
                  <span>{{ location.death_count }} Deaths</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-family.png" alt="Families Affected">
                  <span>{{ location.affected_count }} Families Affected</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-communication.png" alt="No Communication">
                  <span>{{ location.status.communication }}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-water.png" alt="No Water">
                  <span>{{ location.status.water }}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-electricity.png" alt="No Electricity">
                  <span>{{ location.status.power }}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-medicine.png" alt="No Medicine">
                  <span>{{ location.status.medicine }}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-clothes.png" alt="Needs Clothes">
                  <span>{{ location.status.clothes }}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-food.png" alt="No Food">
                  <span>{{ location.status.food }}</span>
                </div>
              </div>
              <div class="clear"></div>
              <h6>Relief Aid Status:</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                  <span class="sr-only">Gathering Data...</span>
                </div>
              </div>
              <!--
              <div class="status-group">
                <div class="status-entry">
                  <img class="icon" src="/img/icon-pledged.png" alt="Relief Goods Pledged">
                  <span>0 Packs Pledged</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-delivered.png" alt="Relief Goods Delivered">
                  <span>0 Packs Delivered</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-distributed.png" alt="Relief Goods Distributed">
                  <span>0 Packs Distributed</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-needed.png" alt="Relief Goods Needed">
                  <span class="emphasize">0 Packs Needed</span>
                </div>
              </div>
              -->
              <div class="clear"></div>
              <h6>Active Relief Orgs:</h6>
                <div class="relief-orgs-group">
                  <img src="/img/thumb-dswd.png" title="DSWD">
                  <img src="/img/thumb-redcross.png" title="Philippine Red Cross">
                  <img src="/img/thumb-rafi.png" title="Ramon Aboitiz Foundation, Inc.">
                  <img src="/img/thumb-jci.png" title="Junior Chamber International">
                </div>
              <div>
                <a class="btn btn-primary btn-block entry-btn" href="/locations/{{ location.key.id() }}" title="{{ location.name }}" role="button"><span class="glyphicon glyphicon-circle-arrow-right"></span> Make a Change. Donate Now!  &raquo;</a>
              </div>
            </div>
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}