{% extends 'frontend/public-index.html' %}

{% block ogdetails %}

    <meta property="og:image" content="{{ location.featured_photo }}"/>
    <meta property="og:title" content="{{ page_title }}"/>
    <meta property="og:url" content="{{ current_base_url }}"/>
        <meta property="twitter:title" content="{{ page_title }}"/>

{% endblock %}


{% block content %}
  <div class="jumbotron">
      <div class="container">
        <h1>{{ page_title }}</h1>
        <p>{% if location.description %}{{ location.description }}{% else %}We Need Your Help! Help the super typhoon Yolanda affected areas! Share information on your latest or planned relief drop here and let's get aid where it is needed the most!{% endif %}</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
          <div class="col-lg-8 col-md-8">
            <a href="/">&lt;&lt; Go Back to Locations List</a>
            <br />

            <div class="clearfix"></div>

            <div class="col-lg-4 hide-on-big show-on-small">


            <div class="side-wrap hide-border">
              <div class="social-item">
                <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="BangonPH">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              </div>
              <div class="social-item">
                <div class="fb-like" data-href="{{ current_base_url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
              </div>
            </div>


            <div class="side-wrap">
              
              <div class="status-item">
              
              
              <div class="status-group">
                <div><h4 class="pull-left">Location Status</h4><a href="{{ fb_login_url }}" class="btn btn-fb btn-info pull-right btn-sm">Update Location Status</a></div>
                <div class="clear"></div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-deaths.png" alt="Deaths" title="Deaths">
                  <span title="{% if location.death_count_text %}{{ location.death_count_text }}{% else %}{% if location.death_count %}{{ location.death_count|with_commas }} Deaths{% else %}Gathering Data{% endif %}{% endif %}">{% if location.death_count_text %}{{ location.death_count_text }}{% else %}{% if location.death_count %}{{ location.death_count|with_commas }} Deaths{% else %}Gathering Data{% endif %}{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-family.png" alt="Families Affected" title="Families Affected">
                  <span title="{% if location.affected_count_text %}{{ location.affected_count_text }}{% else %}{% if location.affected_count %}{{ location.affected_count|with_commas }} Families Affected{% else %}Gathering Data{% endif %}{% endif %}">{% if location.affected_count_text %}{{ location.affected_count_text }}{% else %}{% if location.affected_count %}{{ location.affected_count|with_commas }} Families Affected{% else %}Gathering Data{% endif %}{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-pledged.png" alt="Missing People" title="Missing People">
                  <span title="{% if location.missing_count_text %}{{ location.missing_count_text }}{% else %}{% if location.missing_count %}{{ location.missing_count|with_commas }} Missing{% else %}Gathering Data{% endif %}{% endif %}">{% if location.missing_count_text %}{{ location.missing_count_text }}{% else %}{% if location.missing_count %}{{ location.missing_count|with_commas }} Missing{% else %}Gathering Data{% endif %}{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-communication.png" alt="Communication" title="Communication Status">
                  <span title="{{ location.status.communication }}">{% if location.status.communication %}{{ location.status.communication }}{% else %}Gathering Data{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-water.png" alt="Water" title="Water Status">
                  <span title="{{ location.status.water }}">{% if location.status.water %}{{ location.status.water }}{% else %}Gathering Data{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-electricity.png" alt="Power" title="Power Status">
                  <span title="{{ location.status.power }}">{% if location.status.power %}{{ location.status.power }}{% else %}Gathering Data{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-medicine.png" alt="Medicine" title="Medical Status">
                  <span title="{{ location.status.medicines }}">{% if location.status.medicines %}{{ location.status.medicines }}{% else %}Gathering Data{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-clothes.png" alt="Needs Clothes" title="Clothing Status">
                  <span title="{{ location.status.cloths }}">{% if location.status.cloths %}{{ location.status.cloths }}{% else %}Gathering Data{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-food.png" alt="Food" title="Food Supply Status">
                  <span title="{{ location.status.food }}">{% if location.status.food %}{{ location.status.food }}{% else %}Gathering Data{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-shelter.png" alt="Shelter" title="Shelter Status">
                  <span title="{{ location.status.shelter }}">{% if location.status.shelter %}{{ location.status.shelter }}{% else %}Gathering Data{% endif %}</span>
                </div>
              </div>

            <div class="clear"></div>
            </div>
            </div>


            <div class="side-wrap">
              <div class="status-item">
              
              
              <div class="status-group">

              <h5>Relief Aid Status for the past 7 Days:</h5>
              <h6>Food & Water ({{ location.relief_aid_seven_day_totals.food|with_commas }} Given of {{ location.relief_seven_day_requirement_totals.food|with_commas }} Required)</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-{% if location.relief_aid_seven_day_summary.food > 75 %}success{% else %}{% if location.relief_aid_seven_day_summary.food > 35 %}warning{% else %}danger{% endif %}{% endif %}" role="progressbar" {% if not location.relief_aid_seven_day_summary.food %}aria-valuenow="1"{% else %}aria-valuenow="{{ location.relief_aid_seven_day_summary.food|two_decimal }}"{% endif %} aria-valuemin="0" aria-valuemax="100" {% if not location.relief_aid_seven_day_summary.food %}style="width:1%"{% else %}style="width:{{ location.relief_aid_seven_day_summary.food|two_decimal }}%"{% endif %}>
                  <span class="sr-only">{{ location.relief_aid_seven_day_summary.food|two_decimal }}%  &nbsp;&nbsp;&nbsp;</a></span>
                </div>
              </div>

              <h6>Hygiene Packs ({{ location.relief_aid_seven_day_totals.hygiene|with_commas }} Given of {{ location.relief_seven_day_requirement_totals.hygiene|with_commas }} Required)</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-{% if location.relief_aid_seven_day_summary.hygiene > 75 %}success{% else %}{% if location.relief_aid_seven_day_summary.hygiene > 35 %}warning{% else %}danger{% endif %}{% endif %}" role="progressbar" {% if not location.relief_aid_seven_day_summary.hygiene %}aria-valuenow="1"{% else %}aria-valuenow="{{ location.relief_aid_seven_day_summary.hygiene|two_decimal }}"{% endif %} aria-valuemin="0" aria-valuemax="100" {% if not location.relief_aid_seven_day_summary.hygiene %}style="width:1%"{% else %}style="width:{{ location.relief_aid_seven_day_summary.hygiene|two_decimal }}%"{% endif %}>
                  <span class="sr-only">{{ location.relief_aid_seven_day_summary.hygiene|two_decimal }}%  &nbsp;&nbsp;&nbsp;</a></span>
                </div>
              </div>

              <h6>Medicine ({{ location.relief_aid_seven_day_totals.medicine|with_commas }} Given of {{ location.relief_seven_day_requirement_totals.medicine|with_commas }} Required)</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-{% if location.relief_aid_seven_day_summary.medicine > 75 %}success{% else %}{% if location.relief_aid_seven_day_summary.medicine > 35 %}warning{% else %}danger{% endif %}{% endif %}" role="progressbar" {% if not location.relief_aid_seven_day_summary.medicine %}aria-valuenow="1"{% else %}aria-valuenow="{{ location.relief_aid_seven_day_summary.medicine|two_decimal }}"{% endif %} aria-valuemin="0" aria-valuemax="100" {% if not location.relief_aid_seven_day_summary.medicine %}style="width:1%"{% else %}style="width:{{ location.relief_aid_seven_day_summary.medicine|two_decimal }}%"{% endif %}>
                  <span class="sr-only">{{ location.relief_aid_seven_day_summary.medicine|two_decimal }}%  &nbsp;&nbsp;&nbsp;</a></span>
                </div>
              </div>

              <h6>Medical Missions ({{ location.relief_aid_seven_day_totals.medical_mission|with_commas }} Given of {{ location.relief_seven_day_requirement_totals.medical_mission|with_commas }} Required)</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-{% if location.relief_aid_seven_day_summary.medical_mission > 75 %}success{% else %}{% if location.relief_aid_seven_day_summary.medical_mission > 35 %}warning{% else %}danger{% endif %}{% endif %}" role="progressbar" {% if not location.relief_aid_seven_day_summary.medical_mission %}aria-valuenow="1"{% else %}aria-valuenow="{{ location.relief_aid_seven_day_summary.medical_mission|two_decimal }}"{% endif %} aria-valuemin="0" aria-valuemax="100" {% if not location.relief_aid_seven_day_summary.medical_mission %}style="width:1%"{% else %}style="width:{{ location.relief_aid_seven_day_summary.medical_mission|two_decimal }}%"{% endif %}>
                  <span class="sr-only">{{ location.relief_aid_seven_day_summary.medical_mission|two_decimal }}%  &nbsp;&nbsp;&nbsp;</a></span>
                </div>
              </div>

              <h6>Shelter ({{ location.relief_aid_seven_day_totals.shelter|with_commas }} Given of {{ location.relief_seven_day_requirement_totals.shelter|with_commas }} Required)</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-{% if location.relief_aid_seven_day_summary.shelter > 75 %}success{% else %}{% if location.relief_aid_seven_day_summary.shelter > 35 %}warning{% else %}danger{% endif %}{% endif %}" role="progressbar" {% if not location.relief_aid_seven_day_summary.shelter %}aria-valuenow="1"{% else %}aria-valuenow="{{ location.relief_aid_seven_day_summary.shelter|two_decimal }}"{% endif %} aria-valuemin="0" aria-valuemax="100" {% if not location.relief_aid_seven_day_summary.shelter %}style="width:1%"{% else %}style="width:{{ location.relief_aid_seven_day_summary.shelter|two_decimal }}%"{% endif %}>
                  <span class="sr-only">{{ location.relief_aid_seven_day_summary.shelter|two_decimal }}%  &nbsp;&nbsp;&nbsp;</a></span>
                </div>
              </div>

                <!-- div class="status-entry">
                <img class="icon" src="/img/icon-box.png" alt="Packs">
                <span>{{ location.packs_needed }} packs needed</span>
              </div>

              <div class="status-entry">
                <img class="icon" src="/img/icon-box-open.png" alt="Packs">
                <span>{{ location.packs_provided }} packs provided</span>
              </div> -->
              </div>

            <div class="clear"></div>
            </div>
            </div>

            <br/>
            <h4>Still Gathering Data on Relief Efforts</h4>

            <!-- <div class="side-wrap">
              <div class="side-head ongoing">
                Ongoing
              </div>
              <ul>
                <li><a href="#"><img src="http://localhost:8080/img/icon-box.png" class="small-icon">&nbsp;<strong>10,000 packs</strong> - 
                 <span class="details">Ramon Aboitiz <span> 11/13/'13</span>
                 </span>

                 </a>
                </li>

                <li><a href="#"><img src="http://localhost:8080/img/icon-box.png" class="small-icon">&nbsp;<strong>10,000 packs</strong> - 
                 <span class="details">Ramon Aboitiz <span> 11/13/'13</span>
                 </span>

                 </a>
                </li>
              </ul>
            </div>

            <div class="side-wrap">
              <div class="side-head done">
                Done
              </div>
              <ul>
                <li><a href="#"><img src="http://localhost:8080/img/icon-box-open.png" class="small-icon">&nbsp;<strong>10,000 packs</strong> - 
                 <span class="details">Ramon Aboitiz <span> 11/13/'13</span>
                 </span>

                 </a>
                </li>

                <li><a href="#"><img src="http://localhost:8080/img/icon-box-open.png" class="small-icon">&nbsp;<strong>10,000 packs</strong> - 
                 <span class="details">Ramon Aboitiz <span> 11/13/'13</span>
                 </span>

                 </a>
                </li>
              </ul>
            </div> -->

          </div>

          <div id="content">
            <div>
                  <div id="donations-wrap">

                    <div>
                      <h3 style="float:left">Recently Added Relief Efforts</h3>
                      <a href="{{ fb_login_url }}" style="float: right; margin-top: 15px;" class="btn btn-fb btn-info">Add a relief effort to this location</a>
                      {% if fb_id %}
                      <style type="text/css">
                        .relief-table .edit_tr:hover {
                          background: #80C8E5;
                        }
                        .relief-table .edit_tr:hover td:last-child {
                          background:url(/img/edit.png) right no-repeat;
                          cursor:pointer;
                        }
                      </style>
                      {% endif %}
                      <table class="table relief-table">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Destination (Barangay)</th>
                            <th>TAG</th>
                            <th># of Packs</th>
                            <th>Description</th>
                            <th>Contact Details</th>
                            <th>Needs</th>
                            <th>Date</th>
                          </tr>
                        </thead>
                        <tbody style="font-size: small;">
                          {% if distribution_changes %}
                            {% for changes in distribution_changes %}
                              {% if changes.relief_name %}
                              <tr class="edit_tr" onclick="$('.table_edit_{{ changes.key.id() }}').slideDown('fast');">
                                <td id="relief_name2_{{ changes.key.id() }}">{% if changes.relief_name %}{{ changes.relief_name }}{% endif %}</td>
                                <td id="destination2_{{ changes.key.id() }}">{% if changes.destination %}{{ changes.destination }}{% endif %}</td>
                                <td id="tag2_{{ changes.key.id() }}">{% if changes.tag %}{{ changes.tag }}{% endif %}</td>
                                <td id="packs2_{{ changes.key.id() }}">{% if changes.num_of_packs %}{{ changes.num_of_packs }}{% endif %}</td>
                                <td id="description2_{{ changes.key.id() }}" style="font-size: smaller;">{% if changes.description %}{{ changes.description }}{% endif %}</td>
                                <td id="contacts2_{{ changes.key.id() }}">{% if changes.contacts %}{{ changes.contacts }}{% endif %}</td>
                                <td id="needs2_{{ changes.key.id() }}">{% if changes.needs %}{{ changes.needs }}{% endif %}</td>
                                <td id="date2_{{ changes.key.id() }}">
                                  {% if changes.date %}{{ changes.date }}{% endif %}<br/>
                                  <div id="status2_{{ changes.key.id() }}" class="status2_{{ changes.key.id() }}">
                                  {% if changes.status %}
                                      {% if changes.status == "UNKNOWN" %}
                                      <span class="label label-default">UNKNOWN</span>
                                      {% elif changes.status == "MISSION ACCOMPLISHED" %}
                                      <span class="label label-success">MISSION ACCOMPLISHED</span>
                                      {% elif changes.status == "ONGOING" %}
                                      <span class="label label-warning">ONGOING</span>
                                      {% elif changes.status == "POSTPONED" %}
                                      <span class="label label-info">POSTPONED</span>
                                      {% elif changes.status == "CANCELLED" %}
                                      <span class="label label-danger">CANCELLED</span>
                                      {% endif %}
                                  {% endif %}
                                  </div>
                                </td>
                              </tr>
                              {% if fb_id %}
                              <tr class="table_edit_{{ changes.key.id() }}" style="display:none">
                                  <td colspan="8">
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th colspan="2">Please Fill in ALL the Fields</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>Org Name</td>
                                          <td><input type="text" value="{% if changes.relief_name %}{{ changes.relief_name }}{% endif %}" class="form-control" required="required" id="relief_name_{{ changes.key.id() }}"/></td>
                                        </tr>
                                        <tr>
                                          <td>Destination (Barangay)</td>
                                          <td><input type="text" value="{% if changes.destination %}{{ changes.destination }}{% endif %}" class="form-control" required="required" id="destination_{{ changes.key.id() }}"/></td>
                                        </tr>
                                        <tr>
                                          <td>Tag (Category)</td>
                                          <td>
                                            <select class="form-control" id="tag_{{ changes.key.id() }}">
                                              <option value="UNKNOWN" {% if changes.tag %}{% if changes.tag == "UNKNOWN" %} selected {% endif %}{% endif %}>UNKNOWN</option>
                                              <option value="FOOD & WATER" {% if changes.tag %}{% if changes.tag == "FOOD & WATER" %} selected {% endif %}{% endif %}>FOOD & WATER</option>
                                              <option value="SHELTER" {% if changes.tag %}{% if changes.tag == "SHELTER" %} selected {% endif %}{% endif %}>SHELTER</option>
                                              <option value="MEDICINE" {% if changes.tag %}{% if changes.tag == "MEDICINE" %} selected {% endif %}{% endif %}>MEDICINE</option>
                                              <option value="HYGIENE" {% if changes.tag %}{% if changes.tag == "HYGIENE" %} selected {% endif %}{% endif %}>HYGIENE</option>
                                              <option value="MEDICAL MISSION" {% if changes.tag %}{% if changes.tag == "MEDICAL MISSION" %} selected {% endif %}{% endif %}>MEDICAL MISSION</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>Number of Packs/Units (Number only)</td>
                                          <td><input type="text" class="form-control" required="required" id="packs_{{ changes.key.id() }}" onblur="if(isNaN(this.value)){ alert('Please remove non-numeric value.'); this.focus(); return false; }" placeholder="Number only" value="{% if changes.num_of_packs %}{{ changes.num_of_packs }}{% endif %}"/></td>
                                        </tr>
                                        <tr>
                                          <td>Description</td>
                                          <td><textarea class="form-control" id="description_{{ changes.key.id() }}" required="required">{% if changes.description %}{{ changes.description }}{% endif %}</textarea></td>
                                        </tr>
                                        <tr>
                                          <td>Contact Details</td>
                                          <td><input type="text" class="form-control" required="required" id="contacts_{{ changes.key.id() }}" value="{% if changes.contacts %}{{ changes.contacts }}{% endif %}"/></td>
                                        </tr>
                                        <tr>
                                          <td>Needs of Relief Operation</td>
                                          <td><textarea class="form-control" placeholder="Does this relief operation need anything? Volunteers? Transportation? Anything? Put it here." id="needs_{{ changes.key.id() }}">{% if changes.needs %}{{ changes.needs }}{% endif %}</textarea></td>
                                        </tr>
                                        <tr>
                                          <td>Date of Operation</td>
                                          <td>
                                            <select id="date_{{ changes.key.id() }}" class="form-control">
                                              <option value="UNKNOWN" {% if changes.date %}{% if changes.date == "MEDICINE" %} selected {% endif %}{% endif %}>UNKNOWN</option>
                                              <option value="11/08/2013" {% if changes.date %}{% if changes.date == "11/08/2013" %} selected {% endif %}{% endif %}>11/08/2013</option>
                                              <option value="11/09/2013" {% if changes.date %}{% if changes.date == "11/09/2013" %} selected {% endif %}{% endif %}>11/09/2013</option>
                                              <option value="11/10/2013" {% if changes.date %}{% if changes.date == "11/10/2013" %} selected {% endif %}{% endif %}>11/10/2013</option>
                                              <option value="11/11/2013" {% if changes.date %}{% if changes.date == "11/11/2013" %} selected {% endif %}{% endif %}>11/11/2013</option>
                                              <option value="11/12/2013" {% if changes.date %}{% if changes.date == "11/12/2013" %} selected {% endif %}{% endif %}>11/12/2013</option>
                                              <option value="11/13/2013" {% if changes.date %}{% if changes.date == "11/13/2013" %} selected {% endif %}{% endif %}>11/13/2013</option>
                                              <option value="11/14/2013" {% if changes.date %}{% if changes.date == "11/14/2013" %} selected {% endif %}{% endif %}>11/14/2013</option>
                                              <option value="11/15/2013" {% if changes.date %}{% if changes.date == "11/15/2013" %} selected {% endif %}{% endif %}>11/15/2013</option>
                                              <option value="11/16/2013" {% if changes.date %}{% if changes.date == "11/16/2013" %} selected {% endif %}{% endif %}>11/16/2013</option>
                                              <option value="11/17/2013" {% if changes.date %}{% if changes.date == "11/17/2013" %} selected {% endif %}{% endif %}>11/17/2013</option>
                                              <option value="11/18/2013" {% if changes.date %}{% if changes.date == "11/18/2013" %} selected {% endif %}{% endif %}>11/18/2013</option>
                                              <option value="11/19/2013" {% if changes.date %}{% if changes.date == "11/19/2013" %} selected {% endif %}{% endif %}>11/19/2013</option>
                                              <option value="11/20/2013" {% if changes.date %}{% if changes.date == "11/20/2013" %} selected {% endif %}{% endif %}>11/20/2013</option>
                                              <option value="11/21/2013" {% if changes.date %}{% if changes.date == "11/21/2013" %} selected {% endif %}{% endif %}>11/21/2013</option>
                                              <option value="11/22/2013" {% if changes.date %}{% if changes.date == "11/22/2013" %} selected {% endif %}{% endif %}>11/22/2013</option>
                                              <option value="11/23/2013" {% if changes.date %}{% if changes.date == "11/23/2013" %} selected {% endif %}{% endif %}>11/23/2013</option>
                                              <option value="11/24/2013" {% if changes.date %}{% if changes.date == "11/24/2013" %} selected {% endif %}{% endif %}>11/24/2013</option>
                                              <option value="11/25/2013" {% if changes.date %}{% if changes.date == "11/25/2013" %} selected {% endif %}{% endif %}>11/25/2013</option>
                                              <option value="11/26/2013" {% if changes.date %}{% if changes.date == "11/26/2013" %} selected {% endif %}{% endif %}>11/26/2013</option>
                                              <option value="11/27/2013" {% if changes.date %}{% if changes.date == "11/27/2013" %} selected {% endif %}{% endif %}>11/27/2013</option>
                                              <option value="11/28/2013" {% if changes.date %}{% if changes.date == "11/28/2013" %} selected {% endif %}{% endif %}>11/28/2013</option>
                                              <option value="11/29/2013" {% if changes.date %}{% if changes.date == "11/29/2013" %} selected {% endif %}{% endif %}>11/29/2013</option>
                                              <option value="11/30/2013" {% if changes.date %}{% if changes.date == "11/30/2013" %} selected {% endif %}{% endif %}>11/30/2013</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>Status</td>
                                          <td>
                                            <select class="form-control" id="status_{{ changes.key.id() }}">
                                              <option value="UNKNOWN" {% if changes.status %}{% if changes.status == "UNKNOWN" %} selected {% endif %}{% endif %}>UNKNOWN</option>
                                              <option value="ONGOING" {% if changes.status %}{% if changes.status == "ONGOING" %} selected {% endif %}{% endif %}>ONGOING</option>
                                              <option value="MISSION ACCOMPLISHED" {% if changes.status %}{% if changes.status == "MISSION ACCOMPLISHED" %} selected {% endif %}{% endif %}>MISSION ACCOMPLISHED</option>
                                              <option value="CANCELLED" {% if changes.status %}{% if changes.status == "CANCELLED" %} selected {% endif %}{% endif %}>CANCELLED</option>
                                              <option value="POSTPONED" {% if changes.status %}{% if changes.status == "POSTPONED" %} selected {% endif %}{% endif %}>POSTPONED</option>
                                            </select>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td colspan="2"><button class="btn btn-default" onclick="$('.table_edit_{{ changes.key.id() }}').slideUp('fast');">Cancel</button>&nbsp;&nbsp;<button class="btn btn-primary update_table" data-id="{{ location_id }}" rel="{{ changes.key.id() }}">Update</button> <img style="display: none;" class="fb-load-image" src="/img/facebook_indicator_blue_medium.gif"/></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                              </tr>
                              {% endif %}
                              {% endif %}
                            {% endfor %}
                          {% else %}
                          <tr>
                            <td colspan="10">Empty.</td>
                          </tr>
                          {% endif %}
                        </tbody>
                      </table>
                    </div>
                    <br/><br/>
                    <h3>Relief Operations that need your Help</h3>
                    <span>Stand up, take part, and get involved!</span>
                    <br/><br/>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="operations-content">
                        <img src="/img/logos/aboitiz.jpg" class="operations-img"><br/>
                        <strong>Aboitiz Foundation</strong>
                        <!-- <div class="operations-details">
                          <p>We need people recently trampled our land, killed the cows & left us devasted. We are currently monitoring</p>

                        </div> -->
                        <a target="_blank" href="http://ushare.unionbankph.com/aboitiz/" class="operations-btn blue-btn">Donate Now</a>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="operations-content">
                        <img src="/img/logos/unicef.jpg" class="operations-img"><br/>
                        <strong>Unicef Philippines</strong>
                        <!-- <div class="operations-details">
                          <p>We need people recently trampled our land, killed the cows & left us devasted. We are currently monitoring</p>

                        </div> -->
                        <a target="_blank" href="http://donate.unicef.ph/campaign/24/typhoon-yolanda-emergency-appeal" class="operations-btn blue-btn">Donate Now</a>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="operations-content">
                        <img src="/img/logos/red-cross.png" class="operations-img"><br/>
                        <strong>Philippine Red Cross</strong><!-- 
                        <div class="operations-details">
                          <p>We need people recently trampled our land, killed the cows & left us devasted. We are currently monitoring</p>

                        </div> -->
                        <a target="_blank" href="http://www.redcross.org.ph/donate" class="operations-btn blue-btn">Donate Now</a>
                      </div>
                    </div>
                    <div class="clearfix"></div>

                    <p>&nbsp;</p>

                  </div>
                </div>


             

            </div>

            <div class="col-lg-8">
              {% if location.statusBoard %}
              <h4>Current Status and Information</h4>
              <p>{{ location.statusBoard|nl_to_br|safe }}</p>
              {% endif %}


            </div>
            <div class="clear"></div>

            <div class="fb-comments center-block" data-href="{{current_base_url}}" data-numposts="10"></div>

            <br />

            <div id="campaign-content-wrap">
               <ul class="bxslider">
                {% if location.images %}
                {% for image in location.images %}
                {% if image.src %}
                  <li><img src="{{ image.src }}" title="{{ image.title }}" alt="{{ image.caption }}" /></li>
                {% endif %}
                {% endfor %}
                {% endif %}
                </ul>

                <div id="bx-pager">
                  {% if location.images %}
                  {% for image in location.images %}
                  {% if image.src %}
                  <a data-slide-index="{{ loop.index0 }}" href=""><img src="{{ image.src }}" title="{{ image.title }}" alt="{{ image.caption }}" /></a>
                  {% endif %}
                {% endfor %}
                {% endif %}
                </div>
            </div>

          </div>
          <div class="col-lg-4 col-md-4 hide-on-small">


            <div class="side-wrap hide-border">
              <div class="social-item">
                <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="BangonPH">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              </div>
              <div class="social-item">
                <div class="fb-like" data-href="{{ current_base_url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>   
              </div>
            </div>

            <div class="side-wrap" style="margin-top: 10px;">


              <div class="status-item">
              
              
              <div class="status-group">
                <div><h4 class="pull-left">Location Status</h4><a href="{{ fb_login_url }}" class="btn btn-fb btn-info pull-right btn-sm">Update Location Status</a></div>
                <div class="clear"></div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-deaths.png" alt="Deaths" title="Deaths">
                  <span title="{% if location.death_count_text %}{{ location.death_count_text }}{% else %}{% if location.death_count %}{{ location.death_count|with_commas }} Deaths{% else %}Gathering Data{% endif %}{% endif %}">{% if location.death_count_text %}{{ location.death_count_text }}{% else %}{% if location.death_count %}{{ location.death_count|with_commas }} Deaths{% else %}Gathering Data{% endif %}{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-family.png" alt="Families Affected" title="Families Affected">
                  <span title="{% if location.affected_count_text %}{{ location.affected_count_text }}{% else %}{% if location.affected_count %}{{ location.affected_count|with_commas }} Families Affected{% else %}Gathering Data{% endif %}{% endif %}">{% if location.affected_count_text %}{{ location.affected_count_text }}{% else %}{% if location.affected_count %}{{ location.affected_count|with_commas }} Families Affected{% else %}Gathering Data{% endif %}{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-pledged.png" alt="Missing People" title="Missing People">
                  <span title="{% if location.missing_count_text %}{{ location.missing_count_text }}{% else %}{% if location.missing_count %}{{ location.missing_count|with_commas }} Missing{% else %}Gathering Data{% endif %}{% endif %}">{% if location.missing_count_text %}{{ location.missing_count_text }}{% else %}{% if location.missing_count %}{{ location.missing_count|with_commas }} Missing{% else %}Gathering Data{% endif %}{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-communication.png" alt="Communication" title="Communication Status">
                  <span title="{{ location.status.communication }}">{% if location.status.communication %}{{ location.status.communication }}{% else %}Gathering Data{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-water.png" alt="Water" title="Water Status">
                  <span title="{{ location.status.water }}">{% if location.status.water %}{{ location.status.water }}{% else %}Gathering Data{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-electricity.png" alt="Power" title="Power Status">
                  <span title="{{ location.status.power }}">{% if location.status.power %}{{ location.status.power }}{% else %}Gathering Data{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-medicine.png" alt="Medicine" title="Medical Status">
                  <span title="{{ location.status.medicines }}">{% if location.status.medicines %}{{ location.status.medicines }}{% else %}Gathering Data{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-clothes.png" alt="Needs Clothes" title="Clothing Status">
                  <span title="{{ location.status.cloths }}">{% if location.status.cloths %}{{ location.status.cloths }}{% else %}Gathering Data{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-food.png" alt="Food" title="Food Supply Status">
                  <span title="{{ location.status.food }}">{% if location.status.food %}{{ location.status.food }}{% else %}Gathering Data{% endif %}</span>
                </div>
                <div class="status-entry">
                  <img class="icon" src="/img/icon-shelter.png" alt="Shelter" title="Shelter Status">
                  <span title="{{ location.status.shelter }}">{% if location.status.shelter %}{{ location.status.shelter }}{% else %}Gathering Data{% endif %}</span>
                </div>
              </div>

            <div class="clear"></div>
            </div>
            </div>

            <div class="side-wrap">
              <div class="status-item">
              
              
              <div class="status-group">

              <h5>Relief Aid Status for the past 7 Days:</h5>
              <h6>Food & Water ({{ location.relief_aid_seven_day_totals.food|with_commas }} Given of {{ location.relief_seven_day_requirement_totals.food|with_commas }} Required)</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-{% if location.relief_aid_seven_day_summary.food > 75 %}success{% else %}{% if location.relief_aid_seven_day_summary.food > 35 %}warning{% else %}danger{% endif %}{% endif %}" role="progressbar" {% if not location.relief_aid_seven_day_summary.food %}aria-valuenow="1"{% else %}aria-valuenow="{{ location.relief_aid_seven_day_summary.food|two_decimal }}"{% endif %} aria-valuemin="0" aria-valuemax="100" {% if not location.relief_aid_seven_day_summary.food %}style="width:1%"{% else %}style="width:{{ location.relief_aid_seven_day_summary.food|two_decimal }}%"{% endif %}>
                  <span class="sr-only">{{ location.relief_aid_seven_day_summary.food|two_decimal }}%  &nbsp;&nbsp;&nbsp;</a></span>
                </div>
              </div>

              <h6>Hygiene Packs ({{ location.relief_aid_seven_day_totals.hygiene|with_commas }} Given of {{ location.relief_seven_day_requirement_totals.hygiene|with_commas }} Required)</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-{% if location.relief_aid_seven_day_summary.hygiene > 75 %}success{% else %}{% if location.relief_aid_seven_day_summary.hygiene > 35 %}warning{% else %}danger{% endif %}{% endif %}" role="progressbar" {% if not location.relief_aid_seven_day_summary.hygiene %}aria-valuenow="1"{% else %}aria-valuenow="{{ location.relief_aid_seven_day_summary.hygiene|two_decimal }}"{% endif %} aria-valuemin="0" aria-valuemax="100" {% if not location.relief_aid_seven_day_summary.hygiene %}style="width:1%"{% else %}style="width:{{ location.relief_aid_seven_day_summary.hygiene|two_decimal }}%"{% endif %}>
                  <span class="sr-only">{{ location.relief_aid_seven_day_summary.hygiene|two_decimal }}%  &nbsp;&nbsp;&nbsp;</a></span>
                </div>
              </div>

              <h6>Medicine ({{ location.relief_aid_seven_day_totals.medicine|with_commas }} Given of {{ location.relief_seven_day_requirement_totals.medicine|with_commas }} Required)</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-{% if location.relief_aid_seven_day_summary.medicine > 75 %}success{% else %}{% if location.relief_aid_seven_day_summary.medicine > 35 %}warning{% else %}danger{% endif %}{% endif %}" role="progressbar" {% if not location.relief_aid_seven_day_summary.medicine %}aria-valuenow="1"{% else %}aria-valuenow="{{ location.relief_aid_seven_day_summary.medicine|two_decimal }}"{% endif %} aria-valuemin="0" aria-valuemax="100" {% if not location.relief_aid_seven_day_summary.medicine %}style="width:1%"{% else %}style="width:{{ location.relief_aid_seven_day_summary.medicine|two_decimal }}%"{% endif %}>
                  <span class="sr-only">{{ location.relief_aid_seven_day_summary.medicine|two_decimal }}%  &nbsp;&nbsp;&nbsp;</a></span>
                </div>
              </div>

              <h6>Medical Missions ({{ location.relief_aid_seven_day_totals.medical_mission|with_commas }} Given of {{ location.relief_seven_day_requirement_totals.medical_mission|with_commas }} Required)</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-{% if location.relief_aid_seven_day_summary.medical_mission > 75 %}success{% else %}{% if location.relief_aid_seven_day_summary.medical_mission > 35 %}warning{% else %}danger{% endif %}{% endif %}" role="progressbar" {% if not location.relief_aid_seven_day_summary.medical_mission %}aria-valuenow="1"{% else %}aria-valuenow="{{ location.relief_aid_seven_day_summary.medical_mission|two_decimal }}"{% endif %} aria-valuemin="0" aria-valuemax="100" {% if not location.relief_aid_seven_day_summary.medical_mission %}style="width:1%"{% else %}style="width:{{ location.relief_aid_seven_day_summary.medical_mission|two_decimal }}%"{% endif %}>
                  <span class="sr-only">{{ location.relief_aid_seven_day_summary.medical_mission|two_decimal }}%  &nbsp;&nbsp;&nbsp;</a></span>
                </div>
              </div>

              <h6>Shelter ({{ location.relief_aid_seven_day_totals.shelter|with_commas }} Given of {{ location.relief_seven_day_requirement_totals.shelter|with_commas }} Required)</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-{% if location.relief_aid_seven_day_summary.shelter > 75 %}success{% else %}{% if location.relief_aid_seven_day_summary.shelter > 35 %}warning{% else %}danger{% endif %}{% endif %}" role="progressbar" {% if not location.relief_aid_seven_day_summary.shelter %}aria-valuenow="1"{% else %}aria-valuenow="{{ location.relief_aid_seven_day_summary.shelter|two_decimal }}"{% endif %} aria-valuemin="0" aria-valuemax="100" {% if not location.relief_aid_seven_day_summary.shelter %}style="width:1%"{% else %}style="width:{{ location.relief_aid_seven_day_summary.shelter|two_decimal }}%"{% endif %}>
                  <span class="sr-only">{{ location.relief_aid_seven_day_summary.shelter|two_decimal }}%  &nbsp;&nbsp;&nbsp;</a></span>
                </div>
              </div>

                <!-- <div class="status-entry">
                <img class="icon" src="/img/icon-box.png" alt="Packs">
                <span>{{ location.packs_needed }} packs needed</span>
              </div>

              <div class="status-entry">
                <img class="icon" src="/img/icon-box-open.png" alt="Packs">
                <span>{{ location.packs_provided }} packs provided</span>
              </div> -->
              </div>

            <div class="clear"></div>
            </div>
            </div>

            <h4>Revision History</h4>
            <div class="revision_history" style="overflow-y: scroll; height: 350px; border: 1px solid #e2e2e2; border-radius: 5px">
              {% if status_changes %}
                {% for user in status_changes %}
                  <div style="padding: 5px; border-bottom: 1px solid #e2e2e2">
                      <img style="width: 40px; height: 40px; float: left; margin: 5px;" src="http://graph.facebook.com/{{ user.fb_id }}/picture?small"/>
                      <label style="margin-bottom: 0;"><a href="http://www.facebook.com/profile.php?id={{ user.fb_id }}">{{ user.fb_name }}</a></label>
                      <p style="margin-top: 0; font-size: smaller"><em>{{ user.created|to_date }}</em><br />
                        Updates:
                        {% for stat in user.status %}
                          <span>{{ stat }}; </span>
                        {% endfor %}
                      </p>
                      <div class="clear"></div>
                  </div>
                {% endfor %}
              {% endif %}
            </div>

            <br/><br/>
            <div class="fb-like-box" data-href="http://www.facebook.com/bangonphilippines" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true"></div>
            <br /><br /><br /><br />
            <!-- <hr />
            <h4>Subscribe:</h4>
            
            <form class="form-inline" role="form" action="/locations/{{ location.id }}" method="post">
              <div class="form-group">
                <input type="email" class="col-sm-6 form-control" id="exampleInputEmail2" placeholder="Enter email" name="email" >
                <label><input type="checkbox" name="subscribe_location" value="{{ page_title }}"> {{ page_title }}</label> 
                | 
                <label><input type="checkbox" name="subscribe_all" value="all_locations"> All locations </label>
              </div>
              
              <button type="submit" class="btn btn-success">Subscribe</button>
            </form>

            <br /><br /> -->

            <!-- <div class="side-wrap">
              <div class="side-head needed">
                Needs your help
              </div>
              <ul>
                <li><a href="#"><img src="http://localhost:8080/img/icon-box.png" class="small-icon">&nbsp;<strong>10,000 packs</strong> -
                 <span class="details">Ramon Aboitiz <span> 11/13/'13</span>
                 </span>

                 </a>
                </li>

                <li><a href="#ramon-aboitiz"><img src="http://localhost:8080/img/icon-box.png" class="small-icon">&nbsp;<strong>10,000 packs</strong> - 
                 <span class="details">Ramon Aboitiz <span> 11/13/'13</span>
                 </span>

                 </a>
                </li>
              </ul>
            </div>

            <div class="side-wrap">
              <div class="side-head ongoing">
                Ongoing
              </div>
              <ul>
                <li><a href="#"><img src="http://localhost:8080/img/icon-box.png" class="small-icon">&nbsp;<strong>10,000 packs</strong> - 
                 <span class="details">Ramon Aboitiz <span> 11/13/'13</span>
                 </span>

                 </a>
                </li>

                <li><a href="#"><img src="http://localhost:8080/img/icon-box.png" class="small-icon">&nbsp;<strong>10,000 packs</strong> - 
                 <span class="details">Ramon Aboitiz <span> 11/13/'13</span>
                 </span>

                 </a>
                </li>
              </ul>
            </div>

            <div class="side-wrap">
              <div class="side-head done">
                Done
              </div>
              <ul>
                <li><a href="#"><img src="http://localhost:8080/img/icon-box-open.png" class="small-icon">&nbsp;<strong>10,000 packs</strong> - 
                 <span class="details">Ramon Aboitiz <span> 11/13/'13</span>
                 </span>

                 </a>
                </li>

                <li><a href="#"><img src="http://localhost:8080/img/icon-box-open.png" class="small-icon">&nbsp;<strong>10,000 packs</strong> - 
                 <span class="details">Ramon Aboitiz <span> 11/13/'13</span>
                 </span>

                 </a>
                </li>
              </ul>
            </div> -->

          </div>


      </div>
    </div>
{% endblock %}
{% block customcss %}
<link rel="stylesheet" href="/css/jquery.bxslider.css">
{% endblock %}
{% block bottomjs %}
  <script src="/js/jquery.bxslider.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/jquery.fitvids.js"></script>
    <script type="text/javascript">
    $('.bxslider').bxSlider({
      pagerCustom: '#bx-pager',
      adaptiveHeight: true,
      mode: 'fade'
    });
    </script>

  <script type="text/javascript">
    $(".update_table").click(function() {
      var d_id = $(this).attr("rel");
      var loc_id = $(this).attr("data-id");
      var relief_name = $("#relief_name_"+ d_id).val();
      var destination = $("#destination_"+ d_id).val();
      var tag = $("#tag_"+ d_id).val();
      var packs = $("#packs_"+ d_id).val();
      var description = $("#description_" + d_id).val();
      var contacts = $("#contacts_"+ d_id).val();
      var needs = $("#needs_"+ d_id).val();
      var date = $("#date_"+ d_id).val();
      var status = $("#status_"+ d_id).val();

      $.ajax({
        beforeSend: function() { $(".fb-load-image").show(); },
        complete: function() { $(".fb-load-image").hide(); },
        type: "post",
        url: "/locations/" + loc_id,
        data: {
          "d_id": d_id,
          "name": relief_name,
          "destination": destination,
          "tag": tag,
          "packs": packs,
          "description": description,
          "contacts": contacts,
          "needs": needs,
          "date": date,
          "status": status
        },
        success: function(datas) {
          var updated = JSON.parse(datas);
          var data = updated.updated;

          $("#relief_name2_"+ d_id).text(relief_name);
          $("#destination2_"+ d_id).text(destination);
          $("#tag2_"+ d_id).text(tag);
          $("#packs2_"+ d_id).text(packs);
          $("#description2_" + d_id).text(description);
          $("#contacts2_"+ d_id).text(contacts);
          $("#needs2_"+ d_id).text(needs);

          if (status == "UNKNOWN") {
            $("#date2_"+ d_id).html(date + "<br/><span class=\"label label-default\">UNKNOWN</span>");
          } else if (status == "MISSION ACCOMPLISHED") {
            $("#date2_"+ d_id).html(date + "<br/><span class=\"label label-success\">MISSION ACCOMPLISHED</span>");
          } else if (status == "ONGOING") {
            $("#date2_"+ d_id).html(date + "<br/><span class=\"label label-warning\">ONGOING</span>");
          } else if (status == "POSTPONED") {
            $("#date2_"+ d_id).html(date + "<br/><span class=\"label label-info\">POSTPONED</span>");
          } else if (status == "CANCELLED") {
            $("#date2_"+ d_id).html(date + "<br/><span class=\"label label-danger\">CANCELLED</span>");
          }


          $(".table_edit_"+ d_id).hide();

          $(".revision_history").prepend("<div><img style=\"width: 40px; height: 40px; float: left; margin: 5px;\" src=\"http://graph.facebook.com/{{ fb_id }}/picture?small\"/><label style=\"margin-bottom: 0;\"><a href=\"http://www.facebook.com/profile.php?id={{ fb_id }}\">{{ fb_name }}</a></label><p style=\"margin-top: 0; font-size: smaller\"><em>"+data+"</em><br />Updates: <span>Relief Effort: "+relief_name+"; Destination: "+destination+"; Packs: "+packs+"; Description: "+description+"; Contacts: "+contacts+"; Needs: "+needs+"; Date: "+date+"; Tag: "+tag+"; Status: "+status+"</span></p><div class=\"clear\"></div></div>");
        }
      });
    });
  </script>
{% endblock %}