{% extends 'frontend/index.html' %}

{% block content %}
<div class="row">
	<div class="span12">
		<form class="form-center" action="/register" method="POST">
			<h2 class="form-center-heading">Register</h2>
			<input id="input-name" type="text" name="name" class="input-block-level" placeholder="Name">
			<input type="email" name="email" class="input-block-level" placeholder="Email address">
			<input type="password" name="password" class="input-block-level" placeholder="Password">
			<div class="pull-left">Already registered? <a href="/login">Login</a>.</div><button class="btn btn-large btn-primary pull-right" type="submit">Register</button>
			
		</form>
	</div>
</div>
{% endblock %}

{% block jsbottom %}
<script type="text/javascript">
	$(document).ready(function(){
		$("#input-name").focus();
	});
</script>
{% endblock %}