<script type="text/template" id="locationTemplate">
<div class="row" style="margin-top: -50px;">
  <div class="col-lg-12">
    <div class="bs-example table-responsive page-header" style="margin: 70px 0 21px!important; border-bottom: none!important">

      <hr/>

      <div style="display:none" class="alert alert-dismissable alert-success success-message">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Well done!</strong> <span id="title"></span>
      </div>
      <div style="display:none" class="alert alert-dismissable alert-danger error-message">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Oh snap!</strong> <span id="title"></span>
      </div>

      <h4>Locations <a class="btn btn-success" href="#location/new">New</a></h4>
      <table id="locationsGrid" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Latlong</th>
            <th>Featured Photo</th>
            <th>Death Count</th>
            <th>Affected Count</th>
            <th>Status Board</th>
            <th>Needs</th>
            <th>Status</th>
            <th>Images</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%  
            if ($.isEmptyObject(locations)) { 
          %>
              <tr><td colspan='10'>No Record Found</td></tr>
          <% } else { 
              $.each(locations, function () { 
          %>
              <tr class="active" data-name="<%- _.unescape(this.name) %>" data-id="<%- this.id %>">
                  <td><%- _.unescape(this.name) %></td>
                  <td><%- _.unescape(this.latlong) %></td>
                  <td><%- _.unescape(this.featured_photo) %></td>
                  <td><%- _.unescape(this.death_count) %></td>
                  <td><%- _.unescape(this.affected_count) %></td>
                  <td><%- _.unescape(this.status_board) %></td>
                  <td>
                    <% _.each(this.needs, function(item, name) { %>
                      <% if (name == "medical_workers") { %>
                        Medical Workers: <%- item %> <br/>
                      <% } %>
                      <% if (name == "social_workers") { %>
                        Social Workers: <%- item %><br/>
                      <% } %>
                      <% if (name == "shelter") { %>
                        Shelter: <%- item %><br/>
                      <% } %>
                      <% if (name == "cloths") { %>
                        Clothes: <%- item %><br/>
                      <% } %>
                      <% if (name == "water") { %>
                        Water: <%- item %><br/>
                      <% } %>
                      <% if (name == "medicines") { %>
                        Medicines: <%- item %><br/>
                      <% } %>
                      <% if (name == "formula") { %>
                        Formula: <%- item %><br/>
                      <% } %>
                      <% if (name == "food") { %>
                        Food: <%- item %><br/>
                      <% } %>
                      <% if (name == "flashlights") { %>
                        Flashlights: <%- item %><br/>
                      <% } %>
                      <% if (name == "toiletries") { %>
                        Toiletries: <%- item %><br/>
                      <% } %>
                    <% }) %>
                  </td>
                  <td>
                    <% _.each(this.status, function(item, name) { %>
                      <% if (name == "power" && item == "true") { %>
                        Power: Yes<br/>
                      <% } %>
                      <% if (name == "communication" && item == "true") { %>
                        Communication: Yes<br/>
                      <% } %>
                      <% if (name == "water" && item == "true") { %>
                        Water: Yes<br/>
                      <% } %>
                    <% }) %>
                  </td>
                  <td>
                    <% _.each(this.images, function(item, name, d) { %>
                      <% _.each(item, function(data, name) { %>
                          <% if (name == "src") { %>
                           src: <%- data %><br/>
                          <% } %>
                          <% if (name == "image_title") { %>
                           Title: <%- data %><br/>
                          <% } %>
                          <% if (name == "image_caption") { %>
                           Caption: <%- data %><br/>
                          <% } %>
                        <% }) %>
                      <hr/>
                    <% }) %>
                  </td>
                  <td align='center'><a class="first">Edit</a> | <a class="last">Delete</a></td>
              </tr>
          <%    
              })
            }
          %>
        </tbody>
      </table>

    </div>
  </div>
</div>
</script>

<script type="text/template" id="addLocationTemplate">
  <form enctype="multipart/form-data" class="bs-example form-horizontal" id="frmAddLocation">
    <div class="row" style="margin-top: -50px;">
      <div class="col-lg-12">
        <div class="page-header" style="border-bottom: none!important">
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>New Location</strong></h3>
          </div>
          <div class="panel-body">
            <p>
              <input type="text" id="name" required="required" class="form-control" placeholder="Location Name">
            </p>
            <p>
              <input type="text" id="latlong" class="form-control" placeholder="Lat Long">
            </p>
            <p>
              <input type="text" id="featured_photo" class="form-control" placeholder="Featured Photo">
            </p>
            <p>
              <input type="text" id="death_count" class="form-control" placeholder="Death Count">
            </p>
            <p>
              <input type="text" id="affected_count"  class="form-control" placeholder="Affected Count">
            </p>
            <p>
              <input type="text" id="status_board" class="form-control" placeholder="Status Board">
            </p>
            Needs:
            <p>
              <input type="text" id="food" placeholder="Number of food"><br/>

              <input type="text" id="water"   placeholder="Number of water"><br/>

              <input type="text" id="medicines" placeholder="Number of medicines"><br/>

              <input type="text" id="social_workers" placeholder="Number of social_workers"><br/>

              <input type="text" id="medical_workers"  placeholder="Number of medical_workers"><br/>

              <input type="text" id="shelter"   placeholder="Number of shelter"><br/>

              <input type="text" id="formula"  placeholder="Number of formula"><br/>

              <input type="text" id="toiletries"   placeholder="Number of toiletries"><br/>

              <input type="text" id="flashlights"  placeholder="Number of flashlights"><br/>

              <input type="text" id="cloths" placeholder="Number of cloths"><br/>
            </p>
            
            <p>
              <input type="checkbox" name="status" id="status_power"/> Power
            </p>

            <p>
              <input type="checkbox" name="status" id="status_communication"/> Communication
            </p>
            <p>
              <input type="checkbox" name="status" id="status_water"/> Water
            </p>
            <p>
            <br/>
              Images <a href="javascript:;" class="btn btn-success addimage">Add More</a>
              <table class="table imageTable">
                <tbody id="image1">
                  <tr>
                    <th>Image 1</th>
                    <th style="text-align: right;"><a href="javascript:;" rel="image1" onclick="$('#image1').remove();" class="removeimage">Remove</a></th>
                  </tr>
                  <tr>
                    <td>Image URL</td>
                    <td><input type="text" id="image_url_1" class="form-control image_url"/></td>
                  </tr>
                  <tr>
                    <td>Title</td>
                    <td><input type="text" id="image_title_1" class="form-control image_title"/></td>
                  </tr>
                  <tr>
                    <td>Caption</td>
                    <td><textarea id="image_caption_1" class="image_caption" style="width: 1002px; height: 73px; margin: 0px;"></textarea></td>
                  </tr>
                </tbody>
              </table>
            </p>
            <p>
              <button type="submit" class="btn btn-primary">Submit</button> 
              <a href="#locations" class="btn btn-default">Cancel</a> 
              <div style="display:none" class="alert alert-dismissable alert-success success-message">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Well done!</strong> New contact has been added.
              </div>
              <div style="display:none" class="alert alert-dismissable alert-danger error-message">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Oh snap!</strong> Unable to add new contact. Try again.
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </form>
</script>


<script type="text/template" id="editLocationTemplate">
  <form enctype="multipart/form-data" class="bs-example form-horizontal" id="frmEditLocation">
    <div class="row" style="margin-top: -50px;">
      <div class="col-lg-12">
        <div class="page-header" style="border-bottom: none!important">
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Edit Location</strong></h3>
          </div>
          <div class="panel-body">
            <%
              if (!$.isEmptyObject(location)) { 
                $.each(location, function() {
            %>             
            <input type="hidden" id="id" value="<%- this.id %>"/>
            <p>
              <input type="text" id="name" value="<%- this.name %>" required="required" class="form-control" placeholder="Location Name">
            </p>
            <p>
              <input type="text" id="latlong" value="<%- this.latlong %>" class="form-control" placeholder="Lat Long">
            </p>
            <p>
              <input type="text" id="featured_photo" value="<%- this.featured_photo %>" class="form-control" placeholder="Featured Photo">
            </p>
            <p>
              <input type="text" id="death_count" value="<%- this.death_count %>" class="form-control" placeholder="Death Count">
            </p>
            <p>
              <input type="text" id="affected_count" value="<%- this.affected_count %>"  class="form-control" placeholder="Affected Count">
            </p>
            <p>
              <input type="text" id="status_board" value="<%- this.status_board %>" class="form-control" placeholder="Status Board">
            </p>
            Needs:
            <p>
              <input type="text" <% _.each(this.needs, function(item, name) { if (name == "food") { %> value="<%- item %>" <% } }) %> id="food" placeholder="Number of food"><br/>

              <input type="text" id="water" <% _.each(this.needs, function(item, name) { if (name == "water") { %> value="<%- item %>" <% } }) %>  placeholder="Number of water"><br/>

              <input type="text" id="medicines" <% _.each(this.needs, function(item, name) { if (name == "medicines") { %> value="<%- item %>" <% } }) %> placeholder="Number of medicines"><br/>

              <input type="text" id="social_workers" <% _.each(this.needs, function(item, name) { if (name == "social_workers") { %> value="<%- item %>" <% } }) %> placeholder="Number of social_workers"><br/>

              <input type="text" id="medical_workers" <% _.each(this.needs, function(item, name) { if (name == "medical_workers") { %> value="<%- item %>" <% } }) %>  placeholder="Number of medical_workers"><br/>

              <input type="text" id="shelter" <% _.each(this.needs, function(item, name) { if (name == "shelter") { %> value="<%- item %>" <% } }) %>  placeholder="Number of shelter"><br/>

              <input type="text" id="formula" <% _.each(this.needs, function(item, name) { if (name == "formula") { %> value="<%- item %>" <% } }) %> placeholder="Number of formula"><br/>

              <input type="text" id="toiletries" <% _.each(this.needs, function(item, name) { if (name == "toiletries") { %> value="<%- item %>" <% } }) %>  placeholder="Number of toiletries"><br/>

              <input type="text" id="flashlights" <% _.each(this.needs, function(item, name) { if (name == "flashlights") { %> value="<%- item %>" <% } }) %> placeholder="Number of flashlights"><br/>

              <input type="text" id="cloths" <% _.each(this.needs, function(item, name) { if (name == "cloths") { %> value="<%- item %>" <% } }) %> placeholder="Number of cloths"><br/>
            </p>
            
            <p>
              <input type="checkbox" <% _.each(this.status, function(item, name) { if (name == "power" && item == "true") { %> checked <% } }) %>  name="status" id="status_power"/> Power
            </p>

            <p>
              <input type="checkbox" name="status"  <% _.each(this.status, function(item, name) { if (name == "communication" && item == "true") { %> checked <% } }) %>  id="status_communication"/> Communication
            </p>
            <p>
              <input type="checkbox" name="status" <% _.each(this.status, function(item, name) { if (name == "water" && item == "true") { %> checked <% } }) %>  id="status_water"/> Water
            </p>
            <% 
                })
              }
            %>
            <p>
              <button type="submit" class="btn btn-primary">Submit</button> 
              <a href="#locations" class="btn btn-default">Cancel</a> 
              <div style="display:none" class="alert alert-dismissable alert-success success-message">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Well done!</strong> New contact has been added.
              </div>
              <div style="display:none" class="alert alert-dismissable alert-danger error-message">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Oh snap!</strong> Unable to add new contact. Try again.
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </form>
</script>