<script type="text/template" id="locationTemplate">
<div class="row" style="margin-top: -50px;">
  <div class="col-lg-12">
    <div class="bs-example table-responsive page-header" style="margin: 70px 0 21px!important; border-bottom: none!important">

      <hr/>

      <div style="display:none" class="alert alert-dismissable alert-success success-message">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Well done!</strong> <span id="title"></span>
      </div>
      <div style="display:none" class="alert alert-dismissable alert-danger error-message">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Oh snap!</strong> <span id="title"></span>
      </div>

      <h4>Locations <a class="btn btn-success" href="#location/new">New</a></h4>
      <table id="locationsGrid" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Latlong</th>
            <th>Deatch Count Text</th>
            <th>Affected Count Text</th>
            <th>Missing Person/s</th>
            <th>Hash Tag</th>
            <th>Featured</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%  
            if ($.isEmptyObject(locations)) { 
          %>
              <tr><td colspan='11'>No Record Found</td></tr>
          <% } else { 
              $.each(locations, function () { 
          %>
              <tr class="active" data-name="<%- _.unescape(this.name) %>" data-id="<%- this.id %>">
                  <td><%- _.unescape(this.name) %></td>
                  <td><%- _.unescape(this.latlong) %></td>
                  <td><%- _.unescape(this.death_count_text) %></td>
                  <td><%- _.unescape(this.affected_count_text) %></td>
                  <td><%- _.unescape(this.missing_person) %></td>
                  <!-- <td>
                    <% _.each(this.needs, function(item, name) { %>
                      <% if (name == "medical_workers") { %>
                        Medical Workers: <%- item %> <br/>
                      <% } %>
                      <% if (name == "social_workers") { %>
                        Social Workers: <%- item %><br/>
                      <% } %>
                      <% if (name == "shelter") { %>
                        Shelter: <%- item %><br/>
                      <% } %>
                      <% if (name == "cloths") { %>
                        Clothes: <%- item %><br/>
                      <% } %>
                      <% if (name == "water") { %>
                        Water: <%- item %><br/>
                      <% } %>
                      <% if (name == "medicines") { %>
                        Medicines: <%- item %><br/>
                      <% } %>
                      <% if (name == "formula") { %>
                        Formula: <%- item %><br/>
                      <% } %>
                      <% if (name == "food") { %>
                        Food: <%- item %><br/>
                      <% } %>
                      <% if (name == "flashlights") { %>
                        Flashlights: <%- item %><br/>
                      <% } %>
                      <% if (name == "toiletries") { %>
                        Toiletries: <%- item %><br/>
                      <% } %>
                      <% if (name == "miscellaneous") { %>
                        Miscellaneous: <%- item %><br/>
                      <% } %>
                    <% }) %>
                  </td>
                  <td>
                    <% _.each(this.status, function(item, name) { %>
                      <% if (name == "power" && item != "") { %>
                        Power: <%- item %><br/>
                      <% } %>
                      <% if (name == "communication" && item != "") { %>
                        Communication: <%- item %><br/>
                      <% } %>
                      <% if (name == "water" && item != "") { %>
                        Water: <%- item %><br/>
                      <% } %>
                      <% if (name == "cloths" && item != "") { %>
                        Cloths: <%- item %><br/>
                      <% } %>
                      <% if (name == "medicines" && item != "") { %>
                        Medicines: <%- item %><br/>
                      <% } %>
                      <% if (name == "shelter" && item != "") { %>
                        Shelter: <%- item %><br/>
                      <% } %>
                      <% if (name == "food" && item != "") { %>
                        Food: <%- item %><br/>
                      <% } %>
                    <% }) %>
                  </td>
                  <td>
                    <% _.each(this.images, function(item, name, d) { %>
                      <% _.each(item, function(data, name) { %>
                          <% if (name == "src") { %>
                           src: <%- data %><br/>
                          <% } %>
                          <% if (name == "image_title") { %>
                           Title: <%- data %><br/>
                          <% } %>
                          <% if (name == "image_caption") { %>
                           Caption: <%- data %><br/>
                          <% } %>
                        <% }) %>
                      <hr/>
                    <% }) %>
                  </td> -->
                  <td><%- _.unescape(this.hash_tag) %></td>
                  <td><%- _.unescape(this.featured) %></td>
                  <td align='center'><a class="first">Edit</a> | <a class="last">Delete</a></td>
              </tr>
          <%    
              })
            }
          %>
        </tbody>
      </table>

    </div>
  </div>
</div>
</script>

<script type="text/template" id="addLocationTemplate">
  <form enctype="multipart/form-data" class="bs-example form-horizontal" id="frmAddLocation">
    <div class="row" style="margin-top: -50px;">
      <div class="col-lg-12">
        <div class="page-header" style="border-bottom: none!important">
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>New Location</strong></h3>
          </div>
          <div class="panel-body">
            <p>
              Location Name
              <input type="text" id="name" required="required" class="form-control" placeholder="Location Name">
            </p>
            <p>
              Relief Aid Status
              <select id="relief_aid_status" class="form-control" required="required">
                <option value="Unknown">Unknown</option>
                <option value="1">0%</option>
                <option value="5">5%</option>
                <option value="10">10%</option>
                <option value="15">15%</option>
                <option value="20">20%</option>
                <option value="25">25%</option>
                <option value="30">30%</option>
                <option value="35">35%</option>
                <option value="40">40%</option>
                <option value="45">45%</option>
                <option value="50">50%</option>
                <option value="55">55%</option>
                <option value="60">60%</option>
                <option value="65">65%</option>
                <option value="70">70%</option>
                <option value="75">75%</option>
                <option value="80">80%</option>
                <option value="85">85%</option>
                <option value="90">90%</option>
                <option value="95">95%</option>
                <option value="100">100%</option>
              </select>
            </p>
            <p>
              Lat Long
              <input type="text" id="latlong" class="form-control" placeholder="Lat Long">
            </p>
            <p>
              Featured Photo
              <input type="text" id="featured_photo" class="form-control" placeholder="Featured Photo">
            </p>
            <p>
              Death Count
              <input type="text" id="death_count" required="required" class="form-control" placeholder="Death Count">
            </p>
            <p>
              Death Count Text
              <input type="text" id="death_count_text" class="form-control" placeholder="Death Count Text">
            </p>
            <p>
              Affected Count
              <input type="text" id="affected_count" required="required" class="form-control" placeholder="Affected Count">
            </p>
            <p>
              Affected Count Text
              <input type="text" id="affected_count_text" class="form-control" placeholder="Affected Count Text">
            </p>
            <p>
            Missing Person/s
              <input type="text" id="missing_person" value="0"  class="form-control" placeholder="Missing Person/s">
            </p>
            <p>
              Status Board
              <input type="text" id="status_board" class="form-control" placeholder="Status Board">
            </p>
            Needs:
            <p>
              Number of food<input type="text" id="food" placeholder="Number of food"><br/>

              Number of water<input type="text" id="water"   placeholder="Number of water"><br/>

              Number of medicines<input type="text" id="medicines" placeholder="Number of medicines"><br/>

              Number of social_workers<input type="text" id="social_workers" placeholder="Number of social_workers"><br/>

              Number of medical_workers<input type="text" id="medical_workers"  placeholder="Number of medical_workers"><br/>

              Number of shelter<input type="text" id="shelter"   placeholder="Number of shelter"><br/>

              Number of formula<input type="text" id="formula"  placeholder="Number of formula"><br/>

              Number of toiletries<input type="text" id="toiletries"   placeholder="Number of toiletries"><br/>

              Number of flashlights<input type="text" id="flashlights"  placeholder="Number of flashlights"><br/>

              Number of clothes<input type="text" id="cloths" placeholder="Number of clothes"><br/>

              Miscellaneous<input type="text" id="miscellaneous" placeholder="Miscellaneous"><br/>
            </p>
            <br/>
            <p>
              Power
              <input type="text" id="status_power"/>
            </p>

            <p>
              Communication
              <input type="text" id="status_communication"/>
            </p>
            <p>
              Water
              <input type="text" id="status_water"/>
            </p>
            <p>
              medicines
              <input type="text" id="status_medicines"/>
            </p>
            <p>
              clothes
              <input type="text" id="status_clothes"/>
            </p>
            <p>
              foods
              <input type="text" id="status_foods"/>
            </p>
            <p>
              shelter
              <input type="text" id="status_shelter"/>
            </p>
            <br/>
            <p>Hash Tag
              <input type="text" id="hash_tag"/>
            </p>
            <p>
              Featured
              <input type="radio" name="featured" value="True"/> Yes
              <input type="radio" checked name="featured" value="False"/> No
            </p>
            <p>
            <br/>
              Images <a href="javascript:;" onclick="javascript:addimage()" class="btn btn-success addimage">Add More</a>
              <table class="table imageTable">
                <tbody id="image1">
                  <tr>
                    <th>Image 1</th>
                    <th style="text-align: right;"><a href="javascript:;" rel="image1" onclick="$('#image1').remove();" class="removeimage">Remove</a></th>
                  </tr>
                  <tr>
                    <td>Image URL</td>
                    <td><input type="text" id="image_url_1" class="form-control image_url"/></td>
                  </tr>
                  <tr>
                    <td>Title</td>
                    <td><input type="text" id="image_title_1" class="form-control image_title"/></td>
                  </tr>
                  <tr>
                    <td>Caption</td>
                    <td><textarea id="image_caption_1" class="image_caption" style="width: 1002px; height: 73px; margin: 0px;"></textarea></td>
                  </tr>
                </tbody>
              </table>
            </p>
            <p>
              <button type="submit" class="btn btn-primary">Submit</button> 
              <a href="#locations" class="btn btn-default">Cancel</a> 
              <div style="display:none" class="alert alert-dismissable alert-success success-message">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Well done!</strong> New contact has been added.
              </div>
              <div style="display:none" class="alert alert-dismissable alert-danger error-message">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Oh snap!</strong> Unable to add new contact. Try again.
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </form>
</script>


<script type="text/template" id="editLocationTemplate">
  <form enctype="multipart/form-data" class="bs-example form-horizontal" id="frmEditLocation">
    <div class="row" style="margin-top: -50px;">
      <div class="col-lg-12">
        <div class="page-header" style="border-bottom: none!important">
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Edit Location</strong></h3>
          </div>
          <div class="panel-body">
            <%
              if (!$.isEmptyObject(location)) { 
                $.each(location, function() {
            %>             
            <input type="hidden" id="id" value="<%- this.id %>"/>
            <p>
            Location Name
              <input type="text" id="name" value="<%- this.name %>" required="required" class="form-control" placeholder="Location Name">
            </p>
            <p>
              Relief Aid Status
              <select id="relief_aid_status" class="form-control" required="required">
                <option <% if(this.relief_aid_status == 'Unknown'){ %>selected="selected"<% } %> value="Unknown">Unknown</option>
                <option <% if(this.relief_aid_status == '1'){ %>selected="selected"<% } %> value="1">0%</option>
                <option <% if(this.relief_aid_status == '5'){ %>selected="selected"<% } %> value="5">5%</option>
                <option <% if(this.relief_aid_status == '10'){ %>selected="selected"<% } %> value="10">10%</option>
                <option <% if(this.relief_aid_status == '15'){ %>selected="selected"<% } %> value="15">15%</option>
                <option <% if(this.relief_aid_status == '20'){ %>selected="selected"<% } %> value="20">20%</option>
                <option <% if(this.relief_aid_status == '25'){ %>selected="selected"<% } %> value="25">25%</option>
                <option <% if(this.relief_aid_status == '30'){ %>selected="selected"<% } %> value="30">30%</option>
                <option <% if(this.relief_aid_status == '35'){ %>selected="selected"<% } %> value="35">35%</option>
                <option <% if(this.relief_aid_status == '40'){ %>selected="selected"<% } %> value="40">40%</option>
                <option <% if(this.relief_aid_status == '45'){ %>selected="selected"<% } %> value="45">45%</option>
                <option <% if(this.relief_aid_status == '50'){ %>selected="selected"<% } %> value="50">50%</option>
                <option <% if(this.relief_aid_status == '55'){ %>selected="selected"<% } %> value="55">55%</option>
                <option <% if(this.relief_aid_status == '60'){ %>selected="selected"<% } %> value="60">60%</option>
                <option <% if(this.relief_aid_status == '65'){ %>selected="selected"<% } %> value="65">65%</option>
                <option <% if(this.relief_aid_status == '70'){ %>selected="selected"<% } %> value="70">70%</option>
                <option <% if(this.relief_aid_status == '75'){ %>selected="selected"<% } %> value="75">75%</option>
                <option <% if(this.relief_aid_status == '80'){ %>selected="selected"<% } %> value="80">80%</option>
                <option <% if(this.relief_aid_status == '85'){ %>selected="selected"<% } %> value="85">85%</option>
                <option <% if(this.relief_aid_status == '90'){ %>selected="selected"<% } %> value="90">90%</option>
                <option <% if(this.relief_aid_status == '95'){ %>selected="selected"<% } %> value="95">95%</option>
                <option <% if(this.relief_aid_status == '100'){ %>selected="selected"<% } %> value="100">100%</option>
              </select>
            </p>
            <p>
            Lat Long
              <input type="text" id="latlong" value="<%- this.latlong %>" class="form-control" placeholder="Lat Long">
            </p>
            <p>
            Featured Photo
              <input type="text" id="featured_photo" value="<%- this.featured_photo %>" class="form-control" placeholder="Featured Photo">
            </p>
            <p>
            Death Count
              <input type="text" id="death_count" required="required" value="<%- this.death_count %>" class="form-control" placeholder="Death Count">
            </p>
            <p>
              Death Count Text
              <input type="text" id="death_count_text" value="<%- this.death_count_text %>" class="form-control" placeholder="Death Count Text">
            </p>
            <p>
            Affected Count
              <input type="text" id="affected_count" required="required" value="<%- this.affected_count %>"  class="form-control" placeholder="Affected Count">
            </p>
            <p>
            Affected Count Text
              <input type="text" id="affected_count_text" value="<%- this.affected_count_text %>"  class="form-control" placeholder="Affected Count Text">
            </p>
            <p>
            Missing Person/s
              <input type="text" id="missing_person" value="<%- this.missing_person %>"  class="form-control" placeholder="Missing Person/s">
            </p>
            <p>
            Status Board
              <input type="text" id="status_board" value="<%- this.status_board %>" class="form-control" placeholder="Status Board">
            </p>
            Needs:
            <p>Number of food
              <input type="text" <% _.each(this.needs, function(item, name) { if (name == "food") { %> value="<%- item %>" <% } }) %> id="food" placeholder="Number of food"><br/>
Number of water
              <input type="text" id="water" <% _.each(this.needs, function(item, name) { if (name == "water") { %> value="<%- item %>" <% } }) %>  placeholder="Number of water"><br/>
Number of medicines
              <input type="text" id="medicines" <% _.each(this.needs, function(item, name) { if (name == "medicines") { %> value="<%- item %>" <% } }) %> placeholder="Number of medicines"><br/>
Number of social_workers
              <input type="text" id="social_workers" <% _.each(this.needs, function(item, name) { if (name == "social_workers") { %> value="<%- item %>" <% } }) %> placeholder="Number of social_workers"><br/>
Number of medical_workers
              <input type="text" id="medical_workers" <% _.each(this.needs, function(item, name) { if (name == "medical_workers") { %> value="<%- item %>" <% } }) %>  placeholder="Number of medical_workers"><br/>
Number of shelter
              <input type="text" id="shelter" <% _.each(this.needs, function(item, name) { if (name == "shelter") { %> value="<%- item %>" <% } }) %>  placeholder="Number of shelter"><br/>
Number of formula
              <input type="text" id="formula" <% _.each(this.needs, function(item, name) { if (name == "formula") { %> value="<%- item %>" <% } }) %> placeholder="Number of formula"><br/>
Number of toiletries
              <input type="text" id="toiletries" <% _.each(this.needs, function(item, name) { if (name == "toiletries") { %> value="<%- item %>" <% } }) %>  placeholder="Number of toiletries"><br/>
Number of flashlights
              <input type="text" id="flashlights" <% _.each(this.needs, function(item, name) { if (name == "flashlights") { %> value="<%- item %>" <% } }) %> placeholder="Number of flashlights"><br/>
Number of cloths
              <input type="text" id="cloths" <% _.each(this.needs, function(item, name) { if (name == "cloths") { %> value="<%- item %>" <% } }) %> placeholder="Number of cloths"><br/>
Miscellaneous
              <input type="text" <% _.each(this.needs, function(item, name) { if (name == "miscellaneous") { %> value="<%- item %>" <% } }) %> id="miscellaneous" placeholder="Miscellaneous"><br/>
            </p>
            <p>
              Power
              <input type="text" <% _.each(this.status, function(item, name) { if (name == "power" && item != "") { %> value="<%- item %>" <% } }) %>  id="status_power"/>
            </p>

            <p>
              Communication
              <input type="text" <% _.each(this.status, function(item, name) { if (name == "communication" && item != "") { %> value="<%- item %>" <% } }) %> id="status_communication"/>
            </p>
            <p>
              Water
              <input type="text" id="status_water" <% _.each(this.status, function(item, name) { if (name == "water" && item != "") { %> value="<%- item %>" <% } }) %>/>
            </p>
            <p>
              medicines
              <input type="text" <% _.each(this.status, function(item, name) { if (name == "medicines" && item != "") { %> value="<%- item %>" <% } }) %> id="status_medicines"/>
            </p>
            <p>
              clothes
              <input type="text" <% _.each(this.status, function(item, name) { if (name == "cloths" && item != "") { %> value="<%- item %>" <% } }) %> id="status_clothes"/>
            </p>
            <p>
              foods
              <input type="text" <% _.each(this.status, function(item, name) { if (name == "food" && item != "") { %> value="<%- item %>" <% } }) %> id="status_foods"/>
            </p>
            <p>
              shelter
              <input type="text" <% _.each(this.status, function(item, name) { if (name == "shelter" && item != "") { %> value="<%- item %>" <% } }) %> id="status_shelter"/>
            </p><br/>
            <p>Hash Tag
              <input type="text" value="<%- this.hash_tag %>" id="hash_tag"/>
            </p>
            <p>
              Featured
              <input type="radio" <% if (this.featured == true) { %> checked="checked" <% } %> name="featured" value="True"/> Yes
              <input type="radio" <% if (this.featured == false) { %> checked="checked" <% } %> name="featured" value="False"/> No
            </p>
            <p>
            <br/>
              Images <a href="javascript:;" onclick="javascript:addimage2()" class="btn btn-success addimage">Add More</a>
              <table class="table imageTable">
              </table>
              <table class="table">
                <tr>
                  <th colspan=2>Recent Images Added</th>
                </tr>
                <%
                  if (this.images) {
                    $.each(this.images, function(item, name) {
                %>
                <tr>
                  <td colspan=2>
                    <%
                      $.each(name, function(n, i) {
                    %>
                      <% if (n == "src") { %>
                        <tr>
                          <td>Image URL</td>
                          <td><input type="text" value="<%- i %>" id="image_url_1" class="form-control image_url"/></td>
                        </tr>
                      <% } %>
                      <% if (n == "image_title") { %>
                        <tr>
                          <td>Title</td>
                          <td><input type="text" value="<%- i %>" id="image_title_1" class="form-control image_title"/></td>
                        </tr>
                      <% } %>
                      <% if (n == "image_caption") { %>
                        <tr>
                          <td>Caption</td>
                          <td><input type="text" value="<%- i %>" id="image_caption_1" class="form-control image_caption"/></td>
                        </tr>
                      <% } %>
                    <%
                      })
                    %>
                  </td>
                </tr>
                <%
                    })
                  }
                %>
              </table>
            <% 
                })
              }
            %>
            </p>
            <p>
              <button type="submit" class="btn btn-primary">Submit</button> 
              <a href="#locations" class="btn btn-default">Cancel</a> 
              <div style="display:none" class="alert alert-dismissable alert-success success-message">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Well done!</strong> New contact has been added.
              </div>
              <div style="display:none" class="alert alert-dismissable alert-danger error-message">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Oh snap!</strong> Unable to add new contact. Try again.
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </form>
</script>