<script type="text/template" id="mainTemplate">
<div class="row" style="margin-top: -50px;">
  <div class="col-lg-12">
    <div class="bs-example table-responsive page-header" style="margin: 70px 0 21px!important; border-bottom: none!important">

      <hr/>

      <div style="display:none" class="alert alert-dismissable alert-success success-message">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Well done!</strong> <span id="title"></span>
      </div>
      <div style="display:none" class="alert alert-dismissable alert-danger error-message">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Oh snap!</strong> <span id="title"></span>
      </div>

      <h4>Users <a class="btn btn-success" href="#user/new">New</a></h4>
      <table id="usersGrid" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Contacts</th>
            <th>Permissions</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%  
            if ($.isEmptyObject(users)) { 
          %>
              <tr><td colspan='5'>No Record Found</td></tr>
          <% } else { 
              $.each(users, function () { 
          %>
              <tr class="active" data-name="<%- _.unescape(this.name) %>" data-id="<%- this.id %>">
                  <td><%- _.unescape(this.name) %></td>
                  <td><%- _.unescape(this.email) %></td>
                  <td><%- _.unescape(this.contacts) %></td>
                  <td><%- _.unescape(this.permissions) %></td>
                  <td align='center'><a class="first">Edit</a> | <a class="last">Delete</a></td>
              </tr>
          <%    
              })
            }
          %>
        </tbody>
      </table>

    </div>
  </div>
</div>
</script>

<script type="text/template" id="addUserTemplate">
  <form class="bs-example form-horizontal" id="frmAddUser">
    <div class="row" style="margin-top: -50px;">
      <div class="col-lg-12">
        <div class="page-header" style="border-bottom: none!important">
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>New User</strong></h3>
          </div>
          <div class="panel-body">
            <p>
              <input type="text" id="fname" required="required" class="form-control" placeholder="Full Name">
            </p>
            <p>
              <input type="email" id="email" required="required" class="form-control" placeholder="Email">
            </p>
            <p>
              <input type="password" id="password" required="required" class="form-control" placeholder="Password">
            </p>
            <p>
              <input type="text" id="contacts" required="required" class="form-control" placeholder="Contacts">
            </p>
            <p>
              <select id="permissions" name="permissions">
                <option value="coordinator">Coordinator</option>
                <option value="developer">Developer</option>
                <option value="symph">Symph</option>
              </select>
            </p>
            <p>
              <button type="submit" class="btn btn-primary">Submit</button> 
              <a href="#users" class="btn btn-default">Cancel</a> 
              <div style="display:none" class="alert alert-dismissable alert-success success-message">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Well done!</strong> New user has been added.
              </div>
              <div style="display:none" class="alert alert-dismissable alert-danger error-message">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Oh snap!</strong> Unable to add new user. Try again.
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </form>
</script>

<script type="text/template" id="editUserTemplate">
  <form class="bs-example form-horizontal" id="frmEditUser">
    <div class="row" style="margin-top: -50px;">
      <div class="col-lg-12">
        <div class="page-header" style="border-bottom: none!important">
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Edit User</strong></h3>
          </div>
          <div class="panel-body">
            <% 
              if (!$.isEmptyObject(user)) { 
                $.each(user, function() {
            %>
                <input type="hidden" id="id" value="<%- this.id %>">
                <p>
                  <input type="text" id="fname" class="form-control" required="required" placeholder="Full Name" value="<%- _.unescape(this.name) %>">
                </p>
                <p>
                  <input type="email" id="email" disabled="disabled" class="form-control" required="required" placeholder="Email" value="<%- _.unescape(this.email) %>">
                </p>

                <p>
                  <input type="text" id="contacts" class="form-control" required="required" placeholder="Contacts" value="<%- _.unescape(this.contacts) %>">
                </p>

                <p>
                  <select id="permissions" name="permissions">
                    <option value="coordinator" <% if (this.permissions == "coordinator") { %> selected <% } %> >Coordinator</option>
                    <option value="developer" <% if (this.permissions == "developer") { %> selected <% } %> >Developer</option>
                    <option value="symph" <% if (this.permissions == "symph") { %> selected <% } %> >Symph</option>
                  </select>
                </p>
                <p>
                  <button type="submit" class="btn btn-primary">Submit</button> 
                  <a href="#users" class="btn btn-default">Cancel</a>
                  <div style="display:none" class="alert alert-dismissable alert-success success-message">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Well done!</strong> Successfully updated.
                  </div>
                  <div style="display:none" class="alert alert-dismissable alert-danger error-message">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Oh snap!</strong> Unable to update. Try again.
                  </div>
                </p>
            <%    
                })
              }
            %>
          </div>
        </div>
      </div>
    </div>
  </form>
</script>