/*custom classes*/

.navbar {
    z-index: 99999!important;
}

.mb0{
    margin-bottom: 0!important;
}

.mr20{
    margin-right: 20px!important;
}

.mt0{
    margin-top: 0!important;
}

.mt5{
    margin-top: 5px!important;
}

.mt-16{
    margin-top: -16px!important;
}

.clear{
    clear: both;
}

.emphasize{
    color: red;
}

.m15{
    margin: 15px;
}

.fix-width{
    width: 100%;
}

.center-text{
    text-align: center;
}
/*end custom classes*/

/*overwritten bootstrap*/

.navbar-brand{
    max-height: 40px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand > img{
    height: 43px;
    margin-top: 3px;
}

.jumbotron{
    background: url(../img/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: inset 0 -10px 10px -10px rgba(129, 129, 129, 0.65);
    box-shadow: inset inset 0 -10px 10px -10px rgba(129, 129, 129, 0.65);
}

.sr-only{
    position: absolute!important;
    margin: 2px!important;
    right: 38px!important;
    color: #939393!important;
    font-style: italic!important;
    font-size: 0.8em!important;
    clip: auto!important;
    width: auto!important;
    overflow: visible!important;
}

.progress{
    margin-bottom: 2px!important;
}
/*end overwritten bootstrap*/

/*le styles*/

.status-item{
    border: 1px solid #b6b6b6;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 30px;
}

.status-item > img{
    width: 100%;
}

.status-item h3{
    margin-top: 0;
}

.status-group{
    
}

/* Large desktop */
@media (min-width: 1200px) {
    .status-entry{
        width: 50%;
        float: left;
        font-size: 0.8em;
        padding-top: 7px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
        position: static;
    }

    .status-entry span:hover{
        text-overflow:auto;
        overflow: visible;
        position: absolute;
        background-color: white;
        z-index: 9;
        margin-left: 4px;
    }
}

@media (min-width: 991px) and (max-width: 1200px) {
    .status-entry{
        width: 50%;
        float: left;
        font-size: 0.8em;
        padding-top: 7px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
        position: static;
    }

    .status-entry span:hover{
        text-overflow:auto;
        overflow: visible;
        position: absolute;
        background-color: white;
        z-index: 9;
        margin-left: 4px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {
    .status-entry{
        width: 50%;
        float: left;
        font-size: 0.8em;
        padding-top: 7px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
        position: static;
    }

    .status-entry span:hover{
        text-overflow:auto;
        overflow: visible;
        position: absolute;
        background-color: white;
        z-index: 9;
        margin-left: 4px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .status-entry{
        width: 50%;
        float: left;
        font-size: 0.8em;
        padding-top: 7px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
        position: static;
    }

    .status-entry span:hover{
        text-overflow:auto;
        overflow: visible;
        position: absolute;
        background-color: white;
        z-index: 9;
        margin-left: 4px;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .status-entry{
        width: 33%;
        float: left;
        font-size: 0.8em;
        padding-top: 7px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
        position: static;
    }

    .status-entry span:hover{
        text-overflow:auto;
        overflow: visible;
        position: absolute;
        background-color: white;
        z-index: 9;
        margin-left: 4px;
    }
}
/* Landscape phones and down */
@media (max-width: 480px) {
    .status-entry{
        width: 50%;
        float: left;
        font-size: 0.8em;
        padding-top: 7px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
        position: static;
    }

    .status-entry span:hover{
        text-overflow:auto;
        overflow: visible;
        position: absolute;
        background-color: white;
        z-index: 9;
        margin-left: 4px;
    }
}



.status-entry span{
    padding-left: 2px;
}

.icon{
    height: 16px;
    width: 16px;
    margin-left: 10px;
}

.entry-btn{
    margin-top: 8px;
}

.relief-orgs-group img{
    margin:2px;
}

/*end le styles*/

/* CAMPAIGN PAGE */

#campaign-content-wrap, #campaign-sidebar-wrap {
    border: 1px solid #b6b6b6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
}

#bx-pager {
    margin-top: -50px;
}

#bx-pager a img {
width: 80px;
height: 80px;
}

.bx-wrapper .bx-viewport {
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    border: none!important;
    left: -5px;
    background: #fff;
}

.donate-btn{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #428bca;
    margin-right: 20px;
    right: 0;
    position: absolute;
    color: #fff;
    padding: 8px 12px;
    margin-top: 27px;
    font-size: 12px;
}

    .donate-btn:hover {
        text-decoration: none;
        color: #fff;
        background: #286DA8;
    }


.side-wrap {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #b6b6b6;
    margin-bottom: 10px;
}

    .side-wrap ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

        .side-wrap ul li a{
            float: left;
            width: 100%;
            padding: 10px 20px;
            color: #000;
        }

        .side-wrap ul li a {
            color: #000;
            font-size: 12px;
        }

            .side-wrap ul li a span > span {
                font-style: italic;
                font-size: 11px;
            }

            .side-wrap ul li a:hover {
                text-decoration: none;
            }

        .side-wrap ul li a:hover {
            background: #f1f1f1!important;
            color: #000;
        }

    .side-wrap .status-item {
        border: none!important;
        margin: 0px;
    }

    .side-wrap .status-entry {
        padding-bottom: 7px;
    }

        .side-wrap .status-entry span {
            font-weight: bold;
            font-size: 12px;
        }

    .side-wrap .status-entry .icon {
        margin-left: 0px;
    }



    .details {
        font-size: 12px;
    }

.side-head {
    border-bottom:  2px solid #3071a9;
    padding: 15px 20px;
    background: #d1ebff;
    color: #206ea9;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;

}

.side-head a {
    text-decoration: none;
}


.ongoing {
    background: url('/img/progressing.png') right no-repeat #ffead1!important;
    color: #a97420;
    border-bottom:  2px solid #a97420;
}

.needed {
    background: url('/img/alert.png') right no-repeat #ffd1d3!important;
    color: #a92020;
    border-bottom:  2px solid #a92020;
}

.done {
    background: url('/img/done.png') right no-repeat #d1ffd6!important;
    color: #20a93a;
    border-bottom:  2px solid #20a93a;
}

    .small-icon {
        width: 16px;
        height: 16px;
    }

.social-media{

}

.social-item {
    float: left;
    margin-right: 10px;
}

.hide-border {
    border: none!important;
    
}

#operations-wrap > div, #donations-wrap > div{
    padding: 5px;
}

.operations-content {
    border: 1px solid #b6b6b6;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
}

.operations-content > img{
    border-radius: 5px;
}

.operations-content > strong {
    margin-top: 5px;
    display: inline-block;
}

.operations-content > a {
    margin-top: 3px;
}

    .operations-details > strong {
        color: #37afd7;
    }

    .operations-details p {
        font-size: 12px;
    }

    .operations-btn {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 11px;
        text-transform: uppercase;
        text-align: center;
        display: inline-block;
        color: #fff;
        background: #d9534f;
        width: 100%;
        padding: 10px 0px;
    }

        .operations-btn:hover {
            background: #BB3935;
            text-decoration: none;
            color: #fff;
        }

    .blue-btn {
        background: #428bca!important;
    }

        .blue-btn:hover {
            background: #286DA8!important;
        }


.operations-details strong {
    font-size: 10px;
    text-transform: uppercase;
}

.operations-details span {
    font-size: 12px;
    font-weight: bold;
}


.operations-details .icon {
    margin-left: 0px;
    margin-bottom: 5px;
}

.hide-on-big {
    display: none;
}

@media screen and (max-width: 991px) {
    .hide-on-small {
        display: none;
    }

    .show-on-small {
        display: block!important;
        padding: 10px 0px 0px 0px;
    }


}


/* UPDATES */

.updates-feed ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

    .updates-feed ul li {
        width: 100%;
        display: inline-block;
        font-size: 12px;
        padding: 7px 0px;
        border-bottom: 1px solid #DDD;
    }

        .updates-feed ul li p {
            font-size: 11px;
        }

    .updates-feed ul li img {
        width: 23px; 
        height: 23px; 
        float: left; 
        margin: 5px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .update-date {
        font-size: 10px;
        text-transform: uppercase;
        font-weight: bold;
    }


/* FEED */

.feed {
    margin-bottom: 20px;
    display: none;
}

.feed > strong {
    font-size: 18px;
}

.feed ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    /*padding: 10px;
    border: 1px solid #b6b6b6;*/
    border-radius: 6px;
}

.feed .tab-pane ul li {
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
    border-bottom: 1px solid #dddddd;

}

    .feed ul li a {
        text-decoration: none;
        color: #000;
    }

    .feed ul li a > strong {
        text-transform: uppercase;
        font-size: 10px;
        color: #000;
    }

    .feed ul li p {
        font-size: 12px;
    }

        .feed ul li p .date-time {
            font-weight: bold;
            font-size: 10px;
            color: #000;
            text-transform: uppercase;
        }

    .feed ul li .label {
        text-transform: uppercase;
        margin-right: 5px;
    }

    .feed ul li .share-btn {
        float: right;
    }

    .feed .nav {
        padding: 97px 0px 10px 0px;
    }

    .feed .nav li a {
        font-size: 11px;
        padding: 3px 10px;
        border-radius: 3px;
    }

        .feed .nav li.active a {
            background: #333!important;
        }

    .see-more-btn{
        padding: 3px 6px;
        border: 1px solid #b6b6b6;
        border-radius: 4px;
        color: #000;
        font-size: 11px;
    }

        .see-more-btn:hover {
            text-decoration: none;
            border: 1px solid #5bc0de;
            color: #5bc0de;
        }

    .feed-input {
        z-index: 9999;
        background: #f1f1f1;
        padding: 10px;
        border-radius: 5px;
        margin-top: 10px;
        width: 95%;
        position: absolute;
    }

        .shadowed {
            box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
        }

    .feed-wrapper {
        position: absolute;
    }

    .feed-input input[type="text"], .feed-input input[type="date"], .feed-input textarea {
        width: 100%;
        padding: 5px 10px;
        border-radius: 3px;
        border: 1px solid #ccc;
        margin-bottom: 5px;
    }

    .cancel-btn {
        margin-right: 5px;
        display: inline-block;
        float: left;
    }

    .submit-btn {
        float: right;
    }

    .hidden {
        display: none;
    }

    .show {
        display: block;
    }

    .hand:hover {
        cursor: hand;
        cursor:pointer;
    }


/*    .feed-input input[type="submit"] {
        margin-top: -35px;
        position: absolute;
        right: 0;
        margin-right: 34px;
    }*/



/*relief-operations page*/
#relief-cover{
    background: url(../img/cover-relief.jpg)!important;
}

.relief-logo{
    float: left!important;
    margin-right: 20px!important;
    margin-top: 5px!important;
}

@media screen and (max-width: 500px) {
    .relief-logo {
        width: 64px;
        margin-top: 21px!important;
        margin-right: 9px!important;
    }
}

@media screen and (max-width: 990px) {
    .relief-logo {
        margin-top: 22px!important;
    }
}

/*end relief-operations page*/


.location-front-feature-photo {
    opacity: 0.95;
}

.location-front-feature-photo:hover {
    cursor: hand;
    cursor: pointer;
    opacity: 1;
}

/*facebook comment stuff*/
/* Large desktop */
@media (min-width: 1200px) {
    .fb-comments, .fb-comments *{ 
        width: 716px!important;
        margin: 3px auto!important;
    }
}

@media (min-width: 991px) and (max-width: 1200px) {
    .fb-comments, .fb-comments *{ 
        width: 100%!important;
        margin: 3px auto!important;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {
    .fb-comments, .fb-comments *{ 
        width: 100%!important;
        margin: 3px auto!important;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .fb-comments, .fb-comments *{ 
        width: 100%!important;
        margin: 3px auto!important;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .fb-comments, .fb-comments *{ 
        width: 100%!important;
        margin: 3px auto!important;

    }
}

/*post section*/
.label2{
    display: inline;
    padding: .2em .6em .3em;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    text-transform: uppercase;
}
.related-posts{
    font-size: smaller;
}
.related-posts h4{
    font-size: 10px;
    text-transform: uppercase;
}
.related-posts p{
    margin-top: 10px;
}
.related-posts-entry a{
    margin-bottom: 4px;
}
.related-posts hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
/*end post section*/

.intro{
    border: 1px solid #b6b6b6;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 30px;
}

.intro img{
    height: 100%;
    width: 136px;
}